<style>
    .Header {
        color: #1fc0a0;
        /* font-size:large;*/
    }
    ul li a{
        color:blue;
    }
</style>
<div class="main-container col1-layout" >
    <div class=" container" style="padding:20px">
        <div class="small-12 large-12 columns">
            <h3 class="slider-header"></h3><div dir="rtl">
                <h2>إتفاقية وشروط إستخدام موقع متجري</h2>

                <ul class="padl-15">
                    <li><a href="#1">(1)  مقدمة</a></li>
                    <li><a href="#2">(2) البند الثضوية</a></li>
                    <li><a href="#3">(3)  الحسابك والتزامات التسجيل</a></li>
                    <li><a href="#4">(4) الاتصالات الإلكترونية</a></li>
                    <li><a href="#5">(5) تعديلات على اتفاقية المستخدم و ألية عمل متجري هذه</a></li>
                    <li><a href="#6">(6) إستخدام نظام متجري للدفع الآمن</a></li>
                    <li><a href="#7">(7) معلوماتك الشخصية ومعلومات تفاصيل العمليات</a></li>
                    <li><a href="#8">(8)  السلع و المعلومات المحظور تداولها خلال إستعمالك للموقع</a></li>
                    <li><a href="#9">(9)  المحظورات عند عرضك للسلع</a></li>
                    <li><a href="#10">(10)  تتعهد وتعلن وتضمن أنك</a></li>
                    <li><a href="#11">(11)  حقوق الطبع</a></li>
                    <li><a href="#12">(12)العلامات التجارية</a></li>
                    <li><a href="#13">(13)  الأضرار بمتجري</a></li>
                    <li><a href="#14">(14)  حماية المشتري</a></li>
                    <li><a href="#15">(15) البضائع المرتجعة</a></li>
                    <li><a href="#16">(16)  مسؤولية متجري</a></li>
                    <li><a href="#17">(17)  السرية</a></li>
                    <li><a href="#18">(18)  نقض اتفاقية المستخدم</a></li>
                    <li><a href="#19">(19)  المزايدة والشراء</a></li>
                    <li><a href="#20">(20)  البيع والرعاية في المزادات</a></li>
                    <li><a href="#21">(21)  تزويد معلومات استرجاعية</a></li>
                    <li><a href="#22">(22)  الغاء الوصول و/أو العضوية</a></li>
                    <li><a href="#23">(23)  لا ضمان</a></li>
                    <li><a href="#24">(24)  تحديد المسؤوليات</a></li>
                    <li><a href="#25">(25)  الأمان</a></li>
                    <li><a href="#26">(26)  العلاقة والإشعارات</a></li>
                    <li><a href="#27">(27) تحويل الحقوق والإلتزامات</a></li>
                    <li><a href="#28">(28)  معلومات عامة</a></li>
                    <li><a href="#29">(29)  القانون والتشريع الحاكمان</a></li>
                    <li><a href="#30">(30)  سياسة الإدراج للعطور</a></li>
                    <li><a href="#31">(31)  شروط إضافية للبائعين خلال الجمعة البيضاء</a></li>
                    <li><a href="#32">(32)  شروط  الكفالة واحكامها</a></li>
                    <li><a href="#33">(33)  شروط  تمديد الكفالة واحكامها</a></li>
                </ul>
                <br>

                <p style="margin-bottom:15px" class="align-l"><a name="1"></a><strong style="color:#1fc0a0">(1)  مقدمة : </strong> </p>
                <p class="align-l">
                    أهلاً بكم مع متجري، فيما يلي البنود والشروط التي تخص إستخدامك و دخولك لصفحات موقع "متجري" وكافة الصفحات و الروابط والأدوات والخواص المتفرعة عنها. إن إستخدامك لموقع متجري هو موافقة منك على القبول ببنود  وشروط هذه الإتفاقية والذي يتضمن كافة التفاصيل أدناه وهو تأكيد لإلتزامك بالاستجابة لمضمون هذه الإتفاقية الخاصة بشركة متجري   والمشار إليه فيما يلي بإسم "نحن" والمشار إليه إيضا بـ"متجري"،  فيما يتعلق باستخدامك للموقع، والمشار إليه فيما يلي بـ "اتفاقية الإستخدام " وتعتبر هذه الإتفاقية سارية المفعول حال قبولك بخيار الموافقة
                </p>

                <p style="margin-bottom:15px" class="align-l">
                    <a name="2"></a><strong style="color:#1fc0a0">
                        (2)  التأهل للعضوية :
                    </strong>
                </p>
                <p class="align-l">
                    1.تمنح عضوية الموقع فقط لمن تجازوت أعمارهم 18 عام . و لموقع متجري الحق بإلغاءحساب أي عضو لم يبلغ الـ 18 عام مع الإلتزام بتصفية  حساباته المالية فور إغلاق الحساب
                    <br>
                    <br>2.لا يحق لأي شخص إستخدام الموقع إذا ألغيت عضويته من متجري.
                    <br>
                    <br>3.في حال قيام أي مستخدم بالتسجيل كمؤسسة تجارية، فإن مؤسسته التجارية تكون ملزمة بكافة والشروط الواردة في هذه الإتفاقية.
                    <br>
                    <br>4.ينبغي عليك الإلتزام بكافة القوانين المعمول بها لتنظيم التجارة  عبر الانترنت.
                    <br>
                    <br>5.لا يحق لأي عضو أو مؤسسة أن تقوم بفتح حسابين بآن واحد لأي سبب كان، ولإدارة الموقع الحق بتجميد الحسابين أو إلغاء أحدهما مع الإلتزام  بتصفية كافة العمليات المالية المتعلقة بالحساب قبل إغلاقه.
                    <br>
                    <br>6.على المستخدمي أفراد و مؤسسات الإلتزام بالعقود التجارية المبرمة مع الأعضاء.
                    <br>
                    <br>7.لا يحق لأي عضو بالموقع شراء معروضات ممنوعة أو مشبوهة أو مسروقة أو تخالف القوانين المعمول بها بوزارات و هيئات مؤسسات التجارة المحلية الحكومية، وفي حال ثبوت ذلك فهو يضع نفسه ضمن طائلة المسؤولية الشخصية بدون أدنى مسؤولية على متجري
                </p>

                <p style="margin-bottom:15px" class="align-l"><a name="3"></a><strong style="color:#1fc0a0">(3)  الحسابك والتزامات التسجيل : </strong> </p>
                <p class="align-l">
                    فور تقديم طلب التسجيل للحصول على عضوية في الموقع تكون مطالباً بالإفصاح عن معلومات محددة وإختيار اسم مستخدم وكلمة مرور سرية  لاستعمالها عند الدخول للموقع. وعند قبول طلب التسجيل ستعتبر عضوا بالموقع وبذلك تكون ، تكون قد وافقت على
                    <br>:
                    <br>
                    <br>1.أن تكون مسؤولاً عن المحافظة على سرية معلومات حسابك وكلمة المرور السرية وتحديد الأشخاص المسموح لهم بالوصول واستخدام حسابك  بالموقع. وتكون بذلك موافقاً على إعلام متجري حالاً بأي استخدام غير مفوض به لكلمة دخولك أو حسابك أو أي اختراق آخر لمعلوماتك السرية.
                    <br>
                    <br>2.لن يكون متجري بأي حال من الأحوال مسؤولاً عن أي خسارة قد تلحق بك بشكل مباشر أو غير مباشر معنويا أو ماديا نتيجة كشف معلومات إسم المستخدم أو كلمة الدخول
                    <br>
                    <br>3.أنت مسؤول على المحافظة على لإستخدام موقع متجري بكل جدية و مصداقية وتعتبر ملزما بتعويض متجري عن أي خسائر مباشرة أو غير  مباشرة قد تلحق بمتجري نتيجة أي استخدام غير شرعي أو حقيقي أو مفوض لحسابك من طرفك أو من
                    <br>
                    <br>طرف أي شخص آخر حصل على  مفاتيح الوصول إلى حسابك بالموقع سواء كان لإنجاز خدمات وغيرها باستعمال اسم المستخدم وكلمة الدخول، سواء بتفويض منك أو بلا تفويض.
                    <br>
                    <br>4.أنت موافق على الإفصاح بمعلومات حقيقية وصحيحة و محدثة و كاملة عن نفسك حسبما هو مطلوب في استمارة التسجيل لدى متجري "
                    <br>
                    <br>5.أن لا تدرج ضمن بطاقة التسجيل أي من تفاصيل الاتصال بك كعناوين البريد الإلكتروني أو أرقام هواتفك أو أي تفاصيل شخصية، أو كلمة "متجري".
                    <br>
                    <br>6.أن لا يتضمن اسم محلك التجاري كلمة "متجري" أو شعاره.
                    <br>
                    <br>7.يلتزم متجري بالتعامل مع معلوماتك الشخصية وعناوين الإتصال بك بسريّة تامة مع الأعضاء الآخرين ويتم تزويد الأعضاء بمعلومات الإتصال بك  فقط فور إتمام العمليات التجارية.
                    <br>
                    <br>8.سوف تكون ملزماً بالحفاظ على بيانات التسجيل وتحديثها تباعاً للابقاء عليها حقيقية وصحيحة وراهنة وكاملة، وإذا ما أفصحت عن معلومات غير  حقيقية أو غير صحيحة أوغير راهنة أوغير كاملة او مخالفة لما جاء في اتفاقية المستخدم، فإن لمتجري الحق
                    <br>
                    <br>كاملاً في وقف أو تحديد أو إلغاء  عضويتك و حسابك في الموقع، وذلك دون الحاق الأضرار بحقوق متجري الأخرى ووسائله المشروعة في استرداد حقوقه.
                    <br>
                    <br>9.لمتجري مطلق الإرادة وفي أي وقت أن يجري أي تحقيقات يراها ضرورية (مباشرة أو عبر طرف ثالث) ويطالبك بالإفصاح عن معلومات إضافية أو  وثائق مهما كان حجمها لاثبات هويتك و/أو ملكيتك لأدواتك المالية.
                    <br>
                    <br>10.في حالة أن المقدم لطلب التسجيل يمثل مؤسسة تجارية فلابد من تزويد كافة المعلومات والوثائق المطلوبة التي تتضمن رخصتك التجارية، ووثائق أخرى للمؤسسة و/أو وثائق تظهر مسؤولية أي شخص يتصرف نيابة عنك.
                    <br>
                    <br>11.أنت موافق على تزويد أي معلومات و/أو وثائق لمتجري في حال طلب منك ذلك.
                    <br>
                    <br>12.في حالة عدم الإلتزام بأي مما ورد إعلاه فإن لإدارة متجري الحق في إيقاف أو إلغاء عضويتك و حجبك عن الموقع. ونحتفظ كذلك بالحق في  إلغاء أي حسابات غير مؤكدة وغير مثبتة أو عمليات أو حسابات مر عليها مدة طويلة دون نشاط.
                </p>

                <p style="margin-bottom:15px" class="align-l"><a name="4"></a><strong style="color:#1fc0a0">(4) الاتصالات الإلكترونية : </strong> </p>
                <p class="align-l">
                    1. أنت موافق على أن يتم التواصل معك عبر البريد الإلكتروني، أو من خلال بث إعلانات ترويجة على الموقع، وأنت موافق على أن جميع الاتفاقيات  والإعلانات والبيانات والاتصالات الأخرى التي تزود بها الكترونياً تقوم مقام مثيلاتها المكتوبة، في تلبية الاحتياجات القانونية.
                    <br>
                    <br>2. وسيقوم متجري خلال فترة عضويتك بإرسال رسائل  إلكترونية تروجية لتعريفك بأي تغيرات أو إجراءات أو نشاطات دعائية جديدة قد تضاف إلى الموقع.
                    <br>
                    <br>3. لك الحق كمستخدم بتأكيد عدم رغبتك في تلقي الرسائل الإلكترونية الدعائية، ويمكنك إلغاء تلقي مثل هذه الرسائل، وذلك بالضغط على خيار طلب عدم إستلام رسائل ترويجية والمتوفرة في أسفل الرسائل الترويجية و الإعلانية .
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="5"></a><strong style="color:#1fc0a0">(5) تعديلات على اتفاقية المستخدم و ألية عمل متجري هذه :</strong> </p>
                <p class="align-l">
                    1.أنت تعلم وموافق على أن يقوم متجري بإعلامك عن أي تعديل على اتفاقية المستخدم، وبموجبه تتضاعف التزاماتك أو تتضاءل حقوقك وفقاً لأي تعديلات قد تجرى على إتفاقية الإستخدام
                    <br>
                    <br>2.أنت توافق على أن لمتجري وبمطلق صلاحيته ودون تحمله المسؤولية القانونية أن يجري تعديلات أساسية أو فرعية على هذه الإتفاقية دون أن يتطلب ذاك موافقة إضافية من طرفك، وذلك في أي وقت وبأثر فوري، بواسطة بث إعلان عن التعديل على الموقع.
                    <br>
                    <br>3. أنت تعلم أن متجري لا يعتبر مزاداً أو بنكا ًولا يقدم خدمات مماثلة، ومتجري يعتبر موقع إلكترونيا تقنيا على شبكة الانترنت يتيح بيع وشراء البضائع بين البائعين والمشترين المسجلين بالموقع.
                    <br>
                    <br>4.العضوية على الموقع مجانية. و متجري يفرض رسوم إبرام الصفقات على البائعين حين تباع بضاعتهم على الموقع، وهناك رسوم إعلانات إختيارية في حالة طلبها و إستخدامها لترويج البضائع على الموقع.
                    <br>
                    <br>5.على البائعين دفع كافة الرسوم المستحقة لمتجري خلال 30 سوما بخد أقصى بعد استكمال أي عملية بيع ناجحة
                    <br>
                    <br>6.على البائع أن يبلغ إدارة الموقع حسب الأصول بأي عملية بيع غير ناجحة لأي سبب كان، وسيقوم متجري بإلغاء العمولة المحتسبة على السلعة .
                    <br>
                    <br>7.لك الحق كبائع بإلغاء أو إسترداد قيمة أي عمولات إحتسبت أو خصمت على عمليات لم تمم
                    <br>
                    <br>8.قبل عرضك لأي سلعة للبيع في الموقع عليك مراجعة تفاصيل الرسوم المحددة التي سيتم إحتسابها على عملياتك ويترتب عليك سدادها فور  إصدار الفواتير الشهرية الخاصة بحساب عملياتك على الموقع،
                    <br>
                    <br>9.للموقع الحق بعمل تعديلات على رسوم العمليات بما يراه مناسبا وسيتم الإعلان عن أي تعديل من خلال مراسلتك على بريدك الإلكتروني، و قد تكون التعديلات مؤقتة أو مستمرة سواء كانت على الرسوم أو تفاصيل خدمات الشحن وعليك الالتزام بها وفق بنودها حين يتم الإعلان عنها .
                    <br>
                    <br>8.كافة الرسوم تحتسب بالعملة المحلية لموقع البلد الذي سجلت به  عليك دفع كافة الرسوم المستحقة على عملياتك بالموقع إلى متجري مضافاً إليها أي ضرائب أو نفقات أخرى، وذلك في غضون 30 يوماً من تاريخ الفاتورة المرسلة إليه من متجري، على أن يتم السداد بواسطة الوسائل المعتمدة لذلك
                    <br>
                    <br>9.في حال عدم إلتزامك بدفع الرسوم أو النفقات المحتسبة على عملياتك في الموقع، فإن متجري وبدون أدنى مسؤولية قانونية يحتفظ بحقه في :
                    <br>    - إصدار وتوجيه إنذار رسمي لك لعدم إلتزامك بالسداد بالوقت المحدد
                    <br>
                    <br>    - في حال لم يتم سداد المستحقات المالية في مدة أقصاها 7 أيام من تاريخ إصدار متجري للإنذار فيحق لمتجري إيقاف حسابك بشكل مؤقت أو دائم.
                    <br>
                    <br>     - يحتفظ متجري بحقه أيضاً لاتخاذ أي خطوات ضرورية بما في ذلك القانونية في حال عدم تسديدك للرسوم المترتبة عليكل لصالح متجري
                    <br>
                    <br>     - بالنسبة للحسابات المستحقة لأكثر من 30 يوماً، سيتم إقتطاع قيمة المبلغ الغير مدفوع من حسابك  في المحفظة الإلكترونية "محفظتي" (MyWallet ) ولا مانع لديك من قيام متجري بذلك حسب الأصول مع ضرورة إبلاغك عبر البريد الإلكتروني بإتمام عملية السحب.
                    <br>
                    <br>     - يحتفظ متجري بحقه لأخذ أي إجرائات أو خطوات ضرورية تتضمن ولا تقتصر على الدعاوى القانونية لتحصيل الرسوم المستحقة و/أو الضرائب والنفقات الملائمة.
                </p>

                <p style="margin-bottom:15px" class="align-l"><a name="6"></a><strong style="color:#1fc0a0">(6)  إستخدام نظام متجري للدفع الآمن :  </strong> </p>
                <p class="align-l">
                    1.يعتبر نظام الدفع الآمن في متجري أن الدفع لشراء بضائع من الموقع يمكن أن يتم عبر الانترنت كليا أو جزئياً من خلال خواص للدفع تابعة  لمتجري تسمى محفظتي (MyWallet ) أو نقداً عن الاستلام " COD " أو أي طرف أخرى للدفع قد يوفرها متجري على الموقع من حين لآخر.
                    <br>
                    <br>2.إن توفير متجري لخدمة الدفع عبر محفطتي أو نقدا عند الإستلام هو تسهيلا للمشترين لإتمام عمليات الدفع عبر الانترنت يشرف عليها متجري في حين أن متجري لا يشارك في عمليات البيع والشراء على الموقع.
                    <br>
                    <br>3.جميع عمليات البيع والشراء على الموقع مستمرة في كونها تتم وفق عقود ثنائية بين البائع والمشتري لسلعة معينة، ومتجري ليس مسؤولاً عن أي عملية لا يتم استكمالها، و غير مسؤول عن أي مطالبة تنتج عن أي عقد يتم إبرامه بين المشترين والبائعين.
                    <br>
                    <br>4.متجري ليس عليه مسؤولية تجاه التأكد من مصداقية أي مستخدم. وعلى البائع و المشتري أخذ الحيطة و الحذر بالتعاملات. وأنت تعلم وموافق على أن متجري يحملك الأخطار التي قد تلحق بأموالك لا سمح الله خلال تجارتك و تداولاتك على الموقع.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="7"></a><strong style="color:#1fc0a0">(7) معلوماتك الشخصية ومعلومات تفاصيل العمليات :  </strong> </p>
                <p class="align-l">
                    &gt;1. لا مانع لديك بأن تمنح متجري حقاً غير محدود، وعالمي، ودائم وغير قابل للإلغاء، ومعفي من المصاريف،  و مرخص باستخدام معلومات أو مواد شخصية أو غير ذلك، زودتنا بها  للموقع و/أو أعلنتها على الموقع من خلال التسجيل، المزايدة، الشراء، أو أثناء
                    <br>
                    <br>عملية عرض البضائع وبيعها، وذلك عبر النماذج المخصصة للتواصل و التسجيل، أو عبر أية رسالة إلكترونية أو أي من قنوات الإتصال المتاحة بالموقع. وذلك بهدف تشغيل وترويج الموقع وفق اتفاقية الإستخدام إتفاقية سرية المعلومات.
                    <br>
                    <br>2.أنت الوحيد المسؤول عن المعلومات التي قمت بإرسالها أو نشرها وينحصر دور متجري بالسماح لك بعرض هذه المعلومات على صفحات الموقع ومن خلال قنواته الإعلانية .
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="8"></a><strong style="color:#1fc0a0">(8)  السلع و المعلومات المحظور تداولها خلال إستعمالك للموقع :  </strong> </p>
                <p class="align-l">
                    لا يحق لأي مستخدم عرض أي سلعة لا يسمح بالإتجار بها بالأسواق المملكة العربية السعودية بحسب لوائح وزارة التجارة و إدارة الجمارك ووزارة الداخلية المملكة العربية السعودية وكافة الوزارات المعنية مثل ( وليس حصرا ) :
                    <br>
                    <br>1.الأدوية والمستحضرات الغير مرخصة من قبل وزارة الصحة
                    <br>
                    <br>2.المواد المتفجرة و الأسلحة الناري
                    <br>
                    <br>3.الحيوانات الكائنات الحية الاليفة والبرية و الطيور أو أعضائها
                    <br>
                    <br>4.سلع غير مشروعة دينيا
                    <br>
                    <br>5.المشروبات الروحية و الخمور و المسكرات ، والتبغ بكافة أنواعه، و الأدوية المخدرة
                    <br>
                    <br>6.البرامج والأقراص الليزرية المقرصنة والغير أصلية
                    <br>
                    <br>7.أشرطة الفيديو الخلاعية وأي برامج ذات علاقة بالإباحيات
                    <br>
                    <br>8.المواد الممنوع تداولها قانونياً
                    <br>
                    <br>9.المنتجات من اصل حيواني الغير قانونية
                    <br>
                    <br>10.الوثائق و التحف التاريخية الوطنية المسجلة
                    <br>
                    <br>11.السندات وتتضمن الأسهم، الصكوك، السندات الجمركية أو أي أدوات مالية
                    <br>
                    <br>12.الخدمات و الأعلانات العامة لمواقع أو شركات
                    <br>
                    <br>13.القطعة الفنية الممنوع تصديرها خارج  المملكة العربية السعودية
                    <br>
                    <br>14.القطع الأثرية والكنوز الفنية حسبما هو منصوص عليها في القوانين.
                    <br>
                    <br>15.أي سلع معطوبة، مزورة، غير صالحة، مقلدة أو أنها من خلال استخدامها يمكن أن تلحق أضراراً بمستخدمي موقع آخر في مصالحهم وصحتهم.
                    <br>
                    <br>16.الأغذية الطازجة و المواد الكيماوية و الغازية
                    <br>
                    <br>17.أي سلع تم الإعلان بشكل رسمي أو غير رسمي من قبل أي جهة حكومية معنية في المملكة العربية السعودية عن عدم السماح ببيعها أو إستيردها أو إستعمالها سواء قبل أو بعد عرضها بالموقع، وللموقع الحق بعدم السماح بعرضها حتى وإن كانت على مسؤولية البائع

                </p>

                <p style="margin-bottom:15px" class="align-l"><a name="9"></a><strong style="color:#1fc0a0">(9)  المحظورات عند عرضك للسلع  :  </strong> </p>
                <p class="align-l">
                    1.عرض سلع تكون مازالت مدرجة للبيع لدى مستخدم أخر
                    <br>
                    <br>2.عرض سلع مقلدة لماركات مسجلة عالميا أو محليا
                    <br>
                    <br>3.عرض سلع مسروقة أو غير معروفة المصدر أو غير حاصلة على ترخيص بيع رسمي
                    <br>
                    <br>4.نشر معلومات أو محتويات أو أخبار غير لائقة ضمن العادات و التقاليد المتعارف عليها
                    <br>
                    <br>5.بث معلومات ( بحسب تقييمنا) زائفة، احتيالية، غير صائبة، مضللة، تشهيرية، افترائية، ترهيبية أو مزعجة
                    <br>
                    <br>6.نشر ملاحظات، أسئلة أو إجابات تكون غير حقييقية في طبيعتها، يتضمن ذلك لا يقتصر على، التعليقات العنصرية، استخدام اللغة التدنيسية،
                    <br>الاعتداء على مستخدم آخر، إهانة الثقافات الأخرى أو الإقدام على أي تعليقات أخرى مسيئة.
                    <br>
                    <br>7.إدراج معلومات أو بضائع من شأنها انتهاك حقوق الملكية الفكرية لطرف ثالث والملكيات الأخرى أو حق السرية.
                    <br>
                    <br>8.نشر معلومات قذرة أو فاحشة، وتتضمن وليست مقتصرة على المعلومات الإباحية وأي معلومات (نراها في نظرنا) غير لائقة.
                    <br>
                    <br>9.نشر معلومات (في نظرنا) تحمل رأياً سياسياً ناقداً أو ذي محتوى يضر بالمصلحة العامة.
                    <br>
                    <br>10.نشر أية معلومات أو محتويات أو إدراج بضائع تكون (في نظرنا) متعدية على الثقافة أو الدين أو التقاليد المحلية.
                    <br>
                    <br>11.بث معلومات أو محتويات أو إدراج بضائع (في نظرنا) قد لا تكون متوافقة مع قوانين الشريعة الإسلامية وأحكامها ومبادئها وقيمها وأخلاقياتها وتقاليدها.
                    <br>
                    <br>12.نشر معلومات أو محتويات أو إدراج بضائع (في وجهة نظرنا) قد تهدد الأمن الوطني.
                    <br>
                    <br>13.نشر معلومات أو محتويات أو إدراج بضائع (في نظرنا) تتضمن أو تشجع على المقامرة.
                    <br>
                    <br>14.استخدام كلمات مثيرة أو غير لائقة حين عرض البضائع للبيع باستعمال هذا النوع  من الكلمات في أسماء المنتجات أو العناوين، بهدف شد الانتباه أو توجيه الأعضاء لبضاعتك.
                    <br>
                    <br>15. الإجراءات المحظورة خلال العمليات في الموقع  :
                    <br>                   - عدم تسديد ما عليك من دفعات لبضائع قمت بشرائها، ما لم يكن البائع قام بتغيير مواصفات البضاعة أو طرأت مستجدات بعد أن قمت بالمزايدة، أو حدث خطأ مطبعي واضح.
                    <br>                   -عدم تسليمك لسلعة تم شراؤها منك طالما إلتزم المشتري بالشروط المعلنة.
                    <br>                   - المحاولة بإتمام صفقات خارج الموقع لسلع عرضت ضمن مزاد الموقع أو عرضت للبيع على الموقع بدون تسجيلها كعملية ناجحة بغض النظر عن طريقة التسليم و السداد
                    <br>                   - استخدام الاتصالات الناتجة عن عمليات الشراء أو البيع على الموقع، لإنجاز صفقات بيع على بضائع أخرى بشكل مباشر أو غير مباشر من مواقع أخرى عبر البريد الإلكتروني أو غيره من وسائل الإتصال.
                    <br>                   - الإدعاء بعدم بيع البضاعة، في الوقت الذي يرى متجري من وجهة نظره أنها تمت بنجاح وفق اتفاقية المستخدم وأحكام الموقع.
                    <br>                   - التلاعب أو محاولة التلاعب على الموقع بأي طريقة بما في ذلك أسعار أي بضاعة أو الخدمات عل الموقع سواء بمفردك أو بمساعدة طرف أخر أو مستخدم آخر
                    <br>                   - المراوغة والتلاعب في هيكلية رسوم الموقع وعملية الفوترة، أو الرسوم المملوكة لمتجري.
                    <br>                   - القيام بأي عمل من شأنه الإخلال بأنظمة حفظ سرية معلومات وبيانات الموقع، أو كشف أو إستعمال إي بيانات أو معلومات لأي أسباب أو أعمال غير متعلقة بمتجري
                    <br>                   - تحويل حسابك على الموقع  واسم المستخدم، إلى طرف آخر دون إبلاغ إدراة الموقع و موافقتها على هذا الإجراء
                    <br>                   - توزيع أو الإعلان عن اتصالات غير قانونية أو ذات حجم كبير، أو سلسلة رسائل هرمية.
                    <br>                   - توزيع أي برمجيات مؤذية مثل الفيروسات، أحصنة طروادة، قنابل موقوتة، أو أي برمجيات مشابهة أو   تكنولوجيات  من شأنها الحاق الضرر بالموقع، أو بمصالح وأملاك مستخدمي الموقع ويتحمل من يثبت  عليه هذا العمل كافة التعويضات المالية و المعنوية بدون أدنى مسؤولية على متجري
                    <br>
                    <br>16.اختلاق مطالبة على متجري أو التسبب بخسارة كلية أو جزئية لخدمات مشغلي الإنترنت أو أي مجهزين آخرين.
                    <br>
                    <br>17.القيام بأي عمل يحملنا أو قد يحملنا (في وجهة نظرنا) أعباءاً هائلة غير مبررة على بنيتنا التحتية وسياسة التشغيل.
                    <br>
                    <br>18.التدخل أو محاولة التدخل للتأثير على سير العمل في الموقع.
                    <br>
                    <br>19.محاولة الاستيلاء على حساب مستخدم آخر أو القيام بأي عملية احتيال على الموقع أو حسابات المستخدمين والمجالات الأخرى الخاصة بهم.
                    <br>
                    <br>20.تصدير أو إعادة تصدير أي أدوات تخص الموقع باسثتناء ما هو منصوص عليه في القوانين المنظمة للتصدير في أي من التشريعات المعمول بها في مثل هذه الشؤون.
                    <br>
                    <br>21.استنساخ، تعديل أو توزيع أي محتوى في الموقع أو خرق حرمة حقوق الطبع أو العلامات التجارية بأي شكل.
                    <br>
                    <br>22.انتهاك أي قوانين، أحكام، نظم، إرشادات، حقوق طرف ثالث أو عقود  متجري.
                    <br>
                    <br>23.الإضرار بمتجري من خلال إستعمال خدمات الشحن الممنوحة من متجري أو خدمة محفطتي أو خواص أو عقود أخرى أو شروط وبنود تخص متجري، التي تعرض على الموقع بين حين و أخر.
                </p>

                <p style="margin-bottom:15px" class="align-l"><a name="10"></a><strong style="color:#1fc0a0">(10)  تتعهد وتعلن وتضمن أنك : </strong> </p>
                <p class="align-l">
                    1-بلغت 18 عام أو أكثر
                    <br>
                    <br>2-أن لديك السلطة بإلزام المؤسسة " إذا كنت ممثلاً لمؤسسة "
                    <br>
                    <br>3-أنك أنت المالك المستفيد الوحيد والحصري قانوناً لجميع المواد من أي نوع التي ترغب بعرضها للبيع على الموقع، وأن لديك ما يثبت أن لك الحق والسلطة في الاتجار بهذه المواد وعرضها.
                    <br>
                    <br>4-أنك سوف تلتزم بكافة القوانين المحلية والدولية المعمول بها في هذا الشأن، وكذا الأحكام المعمول بها في شأن استخدام الموقع.
                    <br>
                    <br>5-إن المعلومات ووصف السلع التي ستنشرها على الموقع بغرض البيع صحيحة ودقيقة ومفصلة ومصورة.
                    <br>
                    <br>6-أن تعمل ضمن سياسة الموقع الخاصة بالمحافظة على خصوصية معلومات الإتصال و التواصل، فلن تكشف عن تفاصيل معلومات و عنوانين الإتصال بك بما في ذلك أرقام الهواتف، العناوين البريدية، العناوين الإلكترونية، في أي مكان في الموقع بما في ذلك
                    <br>
                    <br>النماذج و المنتدى و تفاصيل السلعة  أو من خلال أي ملامح للبريد الإلكتروني للموقع.
                    <br>
                    <br>7-سوف لن تستخدم معلوماتك التي تحصل عليها من خلال الاتصالات اللازمة لإنجاز أي صفقة على الموقع بهدف إتمام عمليات بيع إضافية خارج الموقع أو من خلال موقع آخر.
                    <br>
                    <br>8-سوف لن تجمع معلوماتك عن المستخدمين الآخرين بما في ذلك عناوينهم الإلكترونية ووسائل الاتصال الأخرى.
                    <br>
                    <br>9-سوف لن تكشف أو تنشر أي معلومات شخصية عن المستخدمين، أو استخدامها بطريقة (في نظرنا) قد تنتهك سريتهم وخصوصيتهم والقوانين المعمول بها.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="11"></a><strong style="color:#1fc0a0">(11)  حقوق الطبع :   </strong> </p>
                <p class="align-l">
                    1.كافة المحتويات التي يتضمنها الموقع، بما في ذلك وليس محصوراً في النصوص، التصاميم الجرافيكية، الشعارات، أيقونات الأزرار، الرموز، المقاطع الصوتية، الأحمال الرقمية، البيانات المجمّعة والبرامج الإلكترونية، هي ملك وحقوقها محفوظة إما لمتجري أو لمستخدميه، وللمعدين لهذه المحتويات وللمفوضين  وهي محمية ضمن حقوق الطبع المحفوظة، والعلامات التجارية وحقوق وقوانين الملكية الفكرية والإبداعية.
                    <br>
                    <br>2.المحتويات المجمعة على الموقع هي ملك حصري وحقوقها محفوظة لمتجري، وهي محمية ضمن حقوق الطبع المحفوظة، والعلامات التجارية وحقوق وقوانين الملكية الفكرية والإبداعية.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="12"></a><strong style="color:#1fc0a0">(12)  :العلامات التجارية </strong> </p>
                <p class="align-l">
                    1.متجري والشعارات المملوكة، والكلمات والشعارات الأخرى على الموقع، بما في ذلك "ماي واليت" و"متجري سيف باي"-الدفع الامن هي إما علامات تجارية مسجلة أو غير مسجلة لمتجري، وهي محمية بحقوق وقوانين ملكية العلامات التجارية الدولية والفكرية الاخرى.
                    <br>
                    <br>2.علامات متجري التجارية قد لا يتم استخدامها لمنتجات أو خدمات خارج المتجري أو من شأنها تحط من قيمته ومصداقيته. كل العلامات التجارية الأخرى غير المملوكة لمتجري والتي تظهر على الموقع هي ملكية لأصحابها، والذين قد يكونوا أو لا يكونوا تابعين أو مرتبطين أو مرعيين من متجري.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="13"></a><strong style="color:#1fc0a0">(13)  الأضرار بمتجري : </strong> </p>
                <p class="align-l">
                    1.لا بد من أ، يتم الإبلاغ عن أية مشاكل من أي نوع يخص إنتهاكا لاتفاقية المستخدم هذه في متجري.
                    <br>
                    <br>2.إذا ما اعتقدت أن حقوق ملكيتك الفكرية قد انتهكت، ينبغي عليك إبلاغ متجري بذلك.
                    <br>
                    <br>3.إذا ثبت البند رقم 2 أعلاه فقد يلجأ متجري دون الاضرار بمصالحه وحقوقه المترتبة، أن يحديد أو يوقف أو يحجب وصول مستخدم إلى موقع و/أو إلغاء عضويته في الموقع، أو إزالة ما له من محتويات على الموقع.
                    <br>
                    <br>4.كذلك يمكن لمتجري اللجوء الى خطوات تقنية و/أو قانونية ضد المستخدمين الذين يختلقون مشاكل أو مطالبات قانونية من أي نوع،كانتهاك حقوق الملكية الفكرية لأطراف ثالثة أو التعامل بطرق غير لائقة مع اتفاقية المستخدم هذه أو مع عقودنا.
                    <br>
                    <br>5.يمنع عرض عناوين وصلات لمواقع أخر خارج متجري و إن كانت تخص السلعة المعروضة على الموقع ويتحمل من عرض العنوان على أية أضرار قد تنجم عن دخول فيروسات أو برمجيات مؤذية سواء لمتجري أو أي من مستخدميه

                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="14"></a><strong style="color:#1fc0a0">(14) حماية المشتري : </strong> </p>
                <p class="align-l">
                    يوجد لدى متجري "برنامج لحماية المشتري" ويهدف إلى مساعدة المشترين لضمان حماية مشترياتهم من احتيال الباعة على الموقع.
                    <br>
                    <br>1.في حال قام المشتري بشراء بضاعة بطريقة الدفع الأمن "سيف باي"  Safepay ، ولم يتسلم بضاعته أو أنه تسلم بضاعة تختلف عن ما عرض من مواصفات أو تختلف قيمتها عن ما تم ذكره بصفحة العرض، حينها يمكن للمشتري طلب الحماية وفق برنامج
                    <br>
                    <br>حماية المشتري. ويتضمن هذا البرنامج بنداً يتيح التعويض له من متجري عن قيمة البضاعة  فقط. وحتى يستفيد المشتري من هذا البرنامج ينبغي عليه أن يرفع شكوى بواسطة البريد الإلكترونيلمتجري خلال 48 ساعة من تاريخ استلامه للسلعة الغير
                    <br>
                    <br>مطابقة مع ذكر كافة التفاصيل اللازمة والمتعلقة بالعملية.
                    <br>
                    <br>2.بعد إستلام إدارة متجري للبلاغ المرسل سيتم عمل اللازم للتحقق من الحالة و تفاصيلها، وفي حالة تقرر (من جانب متجري) أن البائع هو من قام متعمداً  بالاحتيال على المشتري، فسيقوم متجري بتعويض المشتري ضمن سياسة الموقع و بما
                    <br>
                    <br>ترتأيه إدارة متجري مناسبا بناء على تفاصيل كل حالة على حده,
                    <br>
                    <br>3.إستكمالا لما ورد برقم 2 أعلاه فإن لمتجري قد تلجأ لوقف أو إلغاء أو حجب وصول البائع إلى الموقع و/أو إلغاء عضويته، وللموقع الحق بتحميل البائع تكاليف تعويض المشتري وتكاليف الشحن والتسليم بحسب (بوالص الشحن و وأي رسوم إضافية )، ويحتفظ
                    <br>
                    <br>متجري بحقه في اتخاذ خطوات إضافية إذا ما كانت ضرورية، بما في ذلك  الخطوات القانونية
                    <br>
                    <br>4.أنت تعلم وموافق على أنه في حال إرجاع أي سلعة من المشتري إلى متجري، وكانت السلعة غير مشروعة أو غير قانونية، فإنه يحق لمتجري حينها وبمحض رؤيته أن يتلف البضاعة أو أن يتخذ أي خطوات ضرورية أخرى.


                    <br>
                    <br>5. رسوم الشحن الخاصة بطلبات ارجاع السلع :

                    <br><span style="color:#426cb3">1) في حال كان الارجاع بسبب خطأ يتحمله البائع او مشكلة في المنتج المرسل</span>
                    <br>أ - اذا قام المشتري بالاعتراض خلال 15 يوم من استلام الطلب ( فترة الحماية المقدمة من متجري )
                </p><ul>
                    <li>تتحمل متجري رسوم الشحن التي دفعت لشحن السلعة للمشتري</li>
                    <li>يتحمل البائع رسوم الشحن الخاصة بارجاع السلعة له</li>
                    <li>في حالة عدم موافقة متجري على طلب الإرجاع المقدم من قبل العميل ورفض العميل استلام السلعة المرتجعه المرفوضة من قبل متجري، سوف يكون الحق لمتجري التخلص من السلعة بعد 60 يوما من تاريخ رفض العميل.</li>
                </ul>
                <br>ب - اذا قام المشتري بالاعتراض بعد 15 يوم من استلام الطلب (فقط في حال تم الموافقة على ارجاع المنتج)
                <ul>
                    <li>يتحمل المشتري رسوم الشحن التي دفعت لشحن السلعة له</li>
                    <li>يتحمل البائع رسوم الشحن الخاصة بارجاع السلعة له</li>
                    <li>في حالة عدم موافقة متجري على طلب الإرجاع المقدم من قبل العميل ورفض العميل استلام السلعة المرتجعه المرفوضة من قبل متجري، سوف يكون الحق لمتجري التخلص من السلعة بعد 60 يوما من تاريخ رفض العميل.</li>
                </ul>
                <br><span style="color:#426cb3">2) في حال كان الارجاع بسبب خطأ المشتري وما زال المنتج بحالته الاصلية دون فتحه</span>
                <br>أ - اذا قام المشتري بالاعتراض خلال 15 يوم من استلام الطلب ( فترة الحماية المقدمة من متجري )
                <li><span style="margin-right:10px;">-</span>تتحمل متجري رسوم الشحن التي دفعت لشحن السلعة للمشتري</li>
                <li><span style="margin-right:10px;">-</span>تتحمل متجري رسوم الشحن الخاصة بارجاع السلعة للبائع</li>
                <br>ب - اذا قام المشتري بالاعتراض بعد 15 يوم من استلام الطلب ( فقط في حال تم الموافقة على ارجاع المنتج )
                <li><span style="margin-right:10px;">-</span>يتحمل المشتري رسوم الشحن التي دفعت لشحن السلعة له</li>
                <li><span style="margin-right:10px;">-</span>يتحمل المشتري رسوم الشحن الخاصة بارجاع السلعة للبائع</li>
                <p></p>

                <p style="margin-bottom:15px" class="align-l"><a name="15"></a><strong style="color:#1fc0a0">(15) البضائع المرتجعة : </strong> </p>
                <p class="align-l">
                    يحق لمتجري واي من الشركات التابعة لها أن تقوم&nbsp;بالتخلص أو اتلاف أو تصفية أو ان تعرض بالمزاد أي من السلع/المنتجات التابعة البائع وكما تراه مناسباَ وذلك خلال ستين يوماً بعد استلامها من شركة الشحن في حال تم ارجاع أو عدم استلام هذه المنتجات/السلع من المشترين لأي سبب كان، شريطة ان يتم اشعار البائع عن المنتجات المذكورة/السلع التي تم ارجاعها عن طريق ارسال رسالة الى البريد الالكتروني المزود من البائع ولم يقم البائع باتخاذ الاجراءات اللازمة لاستلامها. تعتبر هذه الفقرة تفويض صريح الى متجري لاتلاف و/او عرض المنتجات&nbsp; في التصفية لأي منتجات/سلع مذكورة أعلاه وبدون أي اعتراض من البائعين وبدون أي مسؤولية مترتبة على شركة متجري. علاوة على ذلك، يحق لمتجري&nbsp; ان تقوم بخصم من حساب البائع او مطالبته بأي رسوم أو مبالغ قد تتكبدها من خلال الاتلاف و/أو تصفية السلع المذكورة أعلاه .

                </p>

                <p style="margin-bottom:15px" class="align-l"><a name="16"></a><strong style="color:#1fc0a0">(16)   مسؤولية متجري:  </strong> </p>
                <p class="align-l">
                    1.الموقع هو مجرد قناة للتواصل، حيث يمكن للمستخدمين الالتقاء والتفاعل مع بعضهم البعض بهدف بيع وشراء البضائع
                    <br>
                    <br>2.متجري لا يبيع ولا يشتري بضاعة، وهو لا يمكنه أن يكون طرفاً في أي صفقة وهو غير ملزم باي طريقة كانت بالنيابة عن أي من البائع أو المشتري المستخدمين للموقع.
                    <br>
                    <br>3.متجري لا يضمن أن المشتري أو البائع سوف سيتم الصفقة أو يقبل البائع بإرجاعها أو بإعادة ثمنها.
                    <br>
                    <br>4.أنت لن تحمل متجري مسؤولية المستخدمين لناحية المحتوى، الأفعال، ردود الأفعال، البضائع أو المعلومات التي يعرضونه
                    <br>
                    <br>5.متجري غير مسؤول عن عدم التقيد أو إبرام عقد يتم بين (المستخدمين، ولا هو مسؤول عن نقل الملكية القانونية لبضاعة من البائع إلى المشتري). حيث أن عقد بيع  أي بضاعة سيكون ثنائياً بين البائع والمشتري. و ليس لمتجري في أي لحظة الحق ولا
                    <br>
                    <br>السلطة ولا المصلحة في أية بضاعة، وليس على متجري التزام او مطالبات بشأن تلك البضاعة المبرم بخصوصها عقد بين البائع والمشتري.
                    <br>
                    <br>6.متجري غير مسؤول عن أي أداء غير مرض أو متاخر من قبل أي من الطريفين، ولا عن أي خسارات، أعطال أو تأخير، بسبب بضاعة غير متوفرة أو تأخر تسليمها.
                    <br>
                    <br>7.متجري ليس مطلوب منه التوسط أو حل أي نزاع أو إشكال بين المستخدمين.
                    <br>
                    <br>8.متجري لا يتحكم ولا يضمن النوعية والأمان والمشروعية لأي بضاعة يتم الإعلان عنها، ولا هو يتحكم في صدق المستخدمين لناحية المضامين وما يدرجونه ضمن وصف سلعهم، ولا في قدرة الباعة على تسويق بضاعتهم، ولا تسديد المشتري أثمان البضائع.
                    <br>
                    <br>9.متجري لا يضمن المواصفات النوعية ولا قيمتها ولا مدى رواجها في الأسواق وهي مسؤولية البائع و المشتري للتأكد من كافة البضائع قبل بيعها أو
                    <br>
                    <br>10.متجري ليس موردا أو مصنعا لأي نوع من البضاعة تباع أو تشترى على الموقع.
                    <br>
                    <br>11.متجري لا يمثل أو يضمن مواصفات المستخدمين لناحية مشروعيتهم ومصداقيتهم وهويتهم.
                    <br>
                    <br>12.متجري غير مسؤول عن مستوى أمان أي روابط (لينك) لخارج الموقع و إن تم عرض عنوان الرابط على صفحات متجري تعرض سلعها على صفحات طراف ثالث، وإن متجري لا يضمن خلوها من الفايروسات أو أي وسائل تدميرية، انت تعلم وموافق أن
                    <br>
                    <br>متجري دون كوم غير مسؤول عن المحتوى أو تواجد مثل هذه المواقع.
                    <br>
                    <br>13.يجب على المستخدمين وحدهم الإتفاق قيما بينهم على طريقة وشروط وبنود التسليم، التسديد، فيما بينهم، حيث أن متجري لا يتحمل المسؤولية في مثل هذه الترتيبات، وهو فقط يقدم خدمات إختيارية للشحن و تسهيل الدفع .
                    <br>
                    <br>14.متجري لا يتحمل أية مطالبات تنشأ عن أخطاء أو إهمال، سواء حصلت قدرا  أو من طرف ثالث.
                    <br>
                    <br>15.متجري يستثني من ضماناته و بنوده وشروطه أي خسارات مالية، تشويه في السمعة،  وأي أضرار خاصة تنشأ عن سوء استخدامك أو عدم قدرتك على استخدام الموقع، ومتجري لا يتحمل أي مسؤوليات أو مطالبات في مثل هذه الحالات.
                    <br>
                    <br>16.أنت تعفي متجري و/أو أي من مسؤوليه وممثليه، بشأن أي مطالبة، نزاع، تكاليف، أضرار، ومسؤولية، وأي خسارة مباشرة لأي طرف نشأت عن فعل قام به مستخدمو الموقع، وانت على وجه الخصوص تتنازل وفق القوانين المعمول بها عن أي مطالبة في
                    هذا الشأن.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="17"></a><strong style="color:#1fc0a0">(17)  السرية : </strong> </p>
                <p class="align-l">
                    1.يتخذ متجري معايير (فيزيائية وتنظيمية وتكنولوجية) للحماية من وصول شخص غير مفوض إلى معلومات هويتك الشخصية، وحفظها. مع العلم أن الانترنت ليس وسيلة  آمنة، وسرية معلوماتك الشخصية لا يمكن أن تكون مضمونة 100%
                    <br>
                    <br>2.سيقوم متجري بتزويد معلومات الإتصال بك " الجوال و البريد الإلكتروني للطرف الثاني  إتمام الصفقة حاى يتم التواصل ما بين الطرفين لإتمام عملية الشحن و الدفع
                    <br>
                    <br>3.متجري ليس له سيطرة على أفعال أي طرف ثالثة، مثل صفحات الانترنت الأخرى الموصولة بهذا الموقع، أو أطراف ثالثة تدعي أنها تمثلك اوتمثل اخرين. انت تعلم  وموافق أن متجري قد يستخدم معلوماتك التي زودته بها، بهدف تقديم الخدمات لك في
                    <br>
                    <br>متجري، ولإرسال رسائل تسويقية لك، وان عقد السرية في هذا الموقع  يضبط عمليات الجمع والمعالجة والاستخدام والتحويل لمعلومات هويتك الشخصية.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="18"></a><strong style="color:#1fc0a0">(18)  نقض اتفاقية المستخدم :  </strong> </p>
                <p class="align-l">
                    إن متجري بحسب اتفاقية المستخدم وبحسب القانون قد يلجأ حالاً وبدون تحمله المسؤولية إلى تحديد نشاطك، وإزالة عروضك في المزايدات، وشطب قوائم بضاعتك  المعروضة للبيع، وإنذار المستخدمين الآخرين بشأن نشاطاتك، وقد يلجأ متجري كذلك
                    <br>
                    <br>إلى وقف مؤقت أو دائم، تحديد أو سحب عضويتك و/أو تحديد أو إلغاء وصولك إلى الموقع دون الإضرار بحقوقه الأخرى ووسائله المشروعة في استرداد حقوقك في حالة :
                    <br>
                    <br>1.إذا انتهكت اتفاقية الإستخدام
                    <br>
                    <br>2.إذا لم يكن بإمكان متجري توثيق أي من معلوماتك المقدمة إليه.
                    <br>
                    <br>3.إذا قررت متجري أن نشاطاتك قد تتسبب لك أو لمستخدمين آخرين و لمتجري في إشكالات قانونية.
                    <br>
                    <br>4.قد يلجأ متجري "بحسب تقيمه " إلى إعادة نشاط المستخدمين الموقوفين، حيث أن المستخدم الذي اوقف نشاطه نهائياً أو سحبت عضويته، قد لا  يكون بإمكانه  التسجيل أو محاولة التسجيل في متجري، أو استخدام الموقع بأي طريقة كانت مهما
                    <br>
                    <br>كانت الظروف، لحين السماح له بإعادة نشاطه  في متجري. ومع ذلك فإنك إن قمت بانتهاك اتفاقية المستخدم هذه، فإن متجري يحتفظ بحقه في استعادة أية مبالغ مستحقة للمتجري عليك، وأي خسارات وأضرار  تسببت بها لمتجري لها الحق بإتخاذ
                    <br>
                    <br>الإجراءات القانونية و/أو اللجوء لمحاكم المملكة العربية السعودية لرفع قضية جنائية ضدك حسبما يراه متجري مناسباً.
                    <br>
                    <br>5.إن قيامك أو قيام آخرين بانتهاك اتفاقية المستخدم هذه لا يلزم متجري بالتنازل عن حقه في اتخاذ الإجراءات المناسبة لمثل هذا الفعل ولغيره من أفعال الانتهاك  المشابهة. ومتجري لا يضمن اتخاذه إجراءات ضد كل الانتهاكات لاتفاقية المستخدم.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="19"></a><strong style="color:#1fc0a0">(19) المزايدة والشراء : </strong> </p>
                <p class="align-l">
                    1. جميع المزايدات (وفق صيغة المزاد) (المزايدات) وكافة المشتريات وفق صيغة "اشتريها الان" (المشتريات) على الموقع، هي تعتير التزام من طرفك بإتمام الشراء  للبضاعة التي زايدت عليها أو التي اشتريتها، فلو كنت عرضت السعر الأعلى على بضاعة
                    <br>
                    <br>ووافق على ذلك البائع، تصبح أنت "المشتري الفائز"، عليك حينها إتمام الصفقة  مع البائع شرعا و قانونا و لا يحق لك الإنسحاب بعد فوزك بالمزاد و إنتهائه. ومن أجل أن تكون مؤهلاً وتصنف على أنك المشتري الفائز في المزاد، فإن متجري يضع ضوابط الأولويات
                    <br>
                    <br>التالية :
                    <br>                        - السعر : سعر المزايدة الأعلى يتقدم دوماً على الأسعار الأقل.
                    <br>                        - الكمية : المزايدة لأكبر كمية بين مزايدات بالسعر ذاته تتفوق على سواها.
                    <br>                        - الوقت : حين تكون المزايدة بالسعر ذاته والكمية ذاتها، يتفوق حينها عامل الوقت، فمن يعرض سعره أولاً يفوز بالصفقة.
                    <br>
                    <br>2.سيكون هناك فائز واحد بكل مزاد. ولمتجري الحق بعدم إعتماد فوزك
                    <br>
                    <br>3.متجري له الحق في رفض أو إلغاء المزادات سواء تم الفوز أم لم يتم
                    <br>
                    <br>4.إذا كنت مشترياً فائزاً يمكن لك مضاعفة حجم وكمية المزايدة أو الشراء شريطة أن يوافق البائع على الزيادة ولكنك ليس بإمكانك تخفيض كمية أو حجم المزايدة أو الشراء  أو الانسحاب منها أو إلغاؤها. فأنت موافق على الالتزام بشروط البيع في حال إقدامك
                    <br>
                    <br>على المزايدة أو الشراء، ما دامت مواصفات البضاعة وشروط البيع لم تنتهك بحسب اتفاقية المستخدم وبحسب القوانين المعمول بها.
                    <br>
                    <br>5.يجب على المشتري الفائز أن يتصل بالبائع خلال 48 ساعة من تاريخ اقفال المزاد أو إتمام الشراء.
                    <br>
                    <br>6.على المشتري أن يقوم بإضافة تقييم عن البائع بشكل منصف فور إستلام السلعة
                    <br>
                    <br>7.أنت موافق على عدم القيام بمزايدات او عمليات شراء زائفة على الموقع، ولا باستخدام اسم مزيف أو أي معلومات شخصية مزيفة، أو استخدام بطاقة ائتمان لغيرك دون تفويض للمزايدة أو الشراء، حيث أن متجري له الحق في اتخاذ الإجراءات القانونية

                    المناسبة لمقاضاة كل من يقوم بعمليات احتيالية من هذا النوع.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="20"></a><strong style="color:#1fc0a0">(20)  البيع والرعاية في المزادات :</strong> </p>
                <p class="align-l">
                    1.كعضو مسجل في الموقع، يمكن لك إدراج بضائع للبيع على الموقع وفق القوانين المعمول بها، وقوائم المبيعات المدرجة يجب أن تتضمن مواصفات، تصاميما وصوراً تصف  البضاعة المعروضة، ويجب عرضها بشكل لائق، كما أنه ممنوع عليك القيام بصفقات خارج الموقع، عن طريق الإعلان عن أرقام هواتفك أو بريدك الإلكتروني ضمن قوائم  الإدراج على الموقع، ويعتبر ذلك بمثابة انتهاك لبنود وشروط اتفاقية المستخدم. ويجب أن تكون مواصفات البضاعة المعروضة حقيقية وراهنة، وإذا لم تكن كذلك فأنت موافق على إعادة المبالغ المدفوعة في البضاعة لأصحابها. انت موافق على عدم إدراج بضاعة محددة مرات عديدة ضمن عنوان "اشتري الآن" –باي ناو-ولمتجري الحق في إزالة القوائم المكررة من على الموقع. عليك أن تشحن البضاعة للمشتري الفائز في غضون 48 ساعة من تاريخ إتمام عملية البيع وعليك توصيلها بطريقة تجارية لائقة، سواء كان تسديد ثمن البضاعة من خلال محفظتي (MyWallet ) أو من خلال خاصية الدفع عند الإستلام (سي أو دي)، وعليك توثيق هوية المشتري الفائز حسبما هو متفق عليه بينكما. وإذا ما رأى متجري أنك نفذت عملية احتيالية من على  الموقع، فسيأخذ بحقك كافة الإجراءات المتضمنة لتحديد أو إلغاء وصولك أو عضويتك من الموقع. وحال إغلاق المزاد يقوم متجري بالاتصال  بكل من البائع والمشتري و إبلاغهما بالمعلومات المتعلقة بكيفية اتصال كل منهما بالاخر، وذلك بهدف إتمام الصفقة، وأنه ممنوع على أحد الطرفين استخدام المعلومات المعطاة له لأي غرض آخر غير  إتمام الصفقة التي تمت عن طريق الموقع.

                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="21"></a><strong style="color:#1fc0a0">(21)  تزويد معلومات استرجاعية :</strong> </p>
                <p class="align-l">
                    متجري يشجع المشترين والبائعين على الموقع لإعطاء معلومات استرجاعية(فيد باك) كل عن الآخر عقب إتمام كل عملية بيع، فهذا من شأنه مساعدة جميع المستخدمين للتعرف على المشترين والبائعين المحتملين، وسوف تعرض معلوماتك الاسترجاعية  مع هوية المستخدم على الموقع، وأنت موافق على عدم نشر معلومات استرجاعية تحوي تهجمات عنصرية أو انتقاص من القيمة الثقافية وأي تعليقات تهكمية، كما يمنع نشر معلومات استرجاعية بهدف الترويج لمبيعات خارج الموقع. وفي حال استمرارك بتلقي  معلومات استرجاعية سلبية فإن متجري سيباشر إلى الغاء عضويتك على الموقع.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="22"></a><strong style="color:#1fc0a0">(22)   الغاء الوصول و/أو العضوية :  </strong> </p>
                <p class="align-l">
                    بدون الحاق الضرر بحقوقه الأخرى ووسائله المشروعة لاسترداد حقوقه، يمكن لمتجري وقف أو إلغاء عضويتك و/أو وصولك إلى الموقع في أي وقت وبدون إنذار ولأي سبب، ودون تحديد، ويمكنه الغاء اتفاقية المستخدم هذه.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="23"></a><strong style="color:#1fc0a0">(23)  لا ضمان:  </strong> </p>
                <p class="align-l">
                    متجري يوفر لموقعه وخدماته بيعاً على ما هي البضاعة عليه، وحسبما هي متوفرة، دون اعتمادها ودون ضمانها لا باطناً ولا ظاهراً، بما في ذلك سند الملكية، وصلاحيتها للاستخدام، جودتها، أمانها وأصالتها، حيث أن متجري لا يضمن دقتها ومدى
                    <br>
                    <br>اعتماديتها وكمالها، ولا يضمن المعلومات والنصوص والتصاميم ووسائل الاتصال المستخدمة من خلال الموقع. متجري لا يضمن إصلاح الأعطاب ولا يضمن خلو الموقع من الفايروسات وأي أشياء أخرى يمكن أن تلحق الضرر بالمستخدمين. ومن طبيعة الاتصال عبر
                    <br>
                    <br>الانترنت أن تكون المعلومات فيه معرضة للدخول إليها وإفسادها والتسبب في التأخير. وقد يتعرض الموقع من حين لآخر إلى عدم الجهوزية بسبب إصلاح الأعطال والصيانة والتطوير، أنت موافق ان متجري ليس ملزماً بدعم الموقع، وأنك موافق علناً على زيارتك
                    للموقع وتحمل مخاطرك بنفسك.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="24"></a><strong style="color:#1fc0a0">(24)  تحديد المسؤوليات :</strong> </p>
                <p class="align-l">
                    بحسب ما هو مسموح في القانون فإن متجري وموظفيه ومدرائه ووكلائه والمتفرعين عنه والمجهزين له لن يكونوا مسؤولين عن أي خسارة مباشرة أو أعطال تنشأ عن استخدامك للموقع. إذا لم تكن راض عن الموقع أو عن أي من محتوياته مواده فالحل و هو بعدم استمرارك باستخدامه، علاوة على ذلك فأنت موافق أن اي استخدام غير مفوض للموقع وخدماته، بسبب إهمالك سوف يتسبب بالحاق الأذى بمتجري، وعليه سيضطر المتجري حينها اللجوء إلى بنود وشروط اتفاقية المستخدم.

                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="25"></a><strong style="color:#1fc0a0">(25)  الأمان : </strong> </p>
                <p class="align-l">
                    أنت موافق على توفير الأمان لمتجري ومدرائه وموظفيه ووكلائه ومجهزيه ووقايتهم من أي ضرر قد يلحق بهم جراء مطالبات وخسائر وأعطال وتكاليف ونفقات، تحدث بسبب انتهاكك لاتفاقية المستخدم أو خرقك لأي قانون أو تعديلات او تعدي على حقوق أطراف ثالثة.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="26"></a><strong style="color:#1fc0a0">(26)   العلاقة والإشعارات : </strong> </p>
                <p class="align-l">
                    لا تتضمن أي من بنود اتفاقية المستخدم إشارة إلى وجود شراكة بينك وبين متجري، وأنت ليس لك سلطة في إلزام متجري بأي حال من الأحوال، وأن أي إشعارات تود إرسالها لمتجري، عليك إرسالها بالبريد الإلكتروني، على أن يقوم متجري بالرد على الرسالة الإلكترونية. أنت تعرف وموافق على أن أية إشعارات ترسل إليك من متجري سوف تعلن على الموقع أو بواسطة البريد الإلكتروني الذي زودتنا به خلال عملية التسجيل، ويفترض أنك تسلمته بعد 72 ساعة من الإرسال. ويمكن أن نرسل لك إشعاراً بالبريد العادي على العنوان الذي زودتنا به ويفترض وصوله إليك بعد 7 أيام من الإرسال.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="27"></a><strong style="color:#1fc0a0">(27) تحويل الحقوق والإلتزامات: </strong> </p>
                <p class="align-l">
                    أنت هنا تمنح متجري الحق في تحويل جزء أو كل حقوقه ومنافعه والتزاماته ومسؤولياته، إلى أطراف أخرى تعمل معه، دون الحاجة للرجوع إليك، وذلك بحسب نصوص اتفاقية المستخدم، ومتجري ملتزم بإشعارك عن مثل هذه التحويلات إذا حصلت وكذلك  بالنشر على الموقع، في حين أنك لا تستطيع تحويل منافعك وحقوقك والتزاماتك لطرف ثالث دون أخذ إذن مكتوب سلفاً من متجري، وذلك وفق الشروط والبنود في اتفاقية المستخدم.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="28"></a><strong style="color:#1fc0a0">(28)  معلومات عامة : </strong> </p>
                <p class="align-l">
                    إذا كانت أية فقرة واردة في اتفاقية المستخدم هذه غير صالحة أو ملغاة أو أنها لأي سبب لم تعد نافذة، فإن مثل هذه الفقرة لا تلغي صلاحية بقية الفقرات الواردة في الاتفاقية. هذه الاتفاقية (والتي تعدل بين حين وآخر بحسب بنودها) تضع كافة الخطوط  العريضة للتفاهم والاتفاق بينك وبين متجري مع الاعتبار لما يلي :
                    <br>-ليس من حق أي شخص لا يكون طرفاً في اتفاقية المستخدم هذه أن يفرض أية بنود أو شروط فيها.
                    <br>-إذا تمت ترجمة اتفاقية المستخدم لأي لغة أخرى غير الإنجليزية، سواء على الموقع أو بطرق أخرى، فإن النص الإنجليزي لها يظل هو السائد.
                </p>


                <p style="margin-bottom:15px" class="align-l"><a name="29"></a><strong style="color:#1fc0a0">(29)  القانون والتشريع الحاكمان : </strong> </p>
                <p class="align-l">
                    اتفاقية المستخدم هذه محكومة ومصاغة بحسب قانون  المملكة العربية السعودية، وهي خاضعة تماماً وكلياً للتشريع المعمول به في المحاكم المملكة العربية السعودية، هذه الفقرة توجد بديلاً يتم اللجوء إليه في حال انتهاء مفعول اتفاقية المستخدم هذه أو الغاؤها لأي سبب  كان.
                </p>

                <p style="margin-bottom:15px" class="align-l"><a name="30"></a><strong style="color:#1fc0a0">(30)  سياسة الإدراج للعطور:</strong> </p>
                <p class="align-l">
                    عطور العينات (الزجاجات التي عادة ما تحتوي على كميات قليلة من العطر تستخدم  لتزويد المستهلكين بعينات مجانية) لا يسمح بإدراجها أو بيعها على الموقع.
                    أي عطر لديه أي من أو كافة الأمور التالية سيتم إعتباره كعينة عطر:

                    <br>
                    <br>
                    - تأتي من المصنع الأصلي كزجاجة عينة للعطر (للمعاينة، البيع من تاجر لتاجر) من المصمم الأصلي للعطر.
                    - يأتي بعلبة تغليف مختلفة كالتغليف من المستخدم نفسه (عادة زجاجة عينة العطر تكون مغلفة بعلبة سادة بلون واحد)
                    <br>
                    - يأتي العطر بدون غطاء الزجاجة داخل العلبة.
                    <br>
                    - بعض زجاجات عطر العينة تحتوي على كلمة " tester" أو "demonstration" على الزجاجة.
                    - العلبة موصوفة بأنها "ليست للبيع"
                    <br>
                    تأكد من أن سلعك من العطور تتبع السياسة أعلاه. إذا لم تكن كذلك، فقد يتم إزالة العرض الخاص بك فوراً دون سابق إنذار و قد تخضع لمجموعة أخرى من الإجراءات كقيود على امتيازات مبيعاتك و مشترياتك و تعليق حسابك.

                </p>
                <p style="margin-bottom:15px" class="align-l"><a name="31"></a><strong style="color:#1fc0a0">(31)  شروط إضافية للبائعين خلال الجمعة البيضاء :   </strong> </p>
                <p>تنطبق هذه الشروط الإضافية على البائع بالإضافة إلى الشروط و الأحكام الأساسية، و يمكنك إيجاد نسخة الشروط و الأحكام الأساسية على موقع متجري. سيجري حدث الجمعة البيضاء خلال نهاية شهر نوفمبر 2015 أو أي مدة زمنية ممتدة. متجري لديها الحق في تغيير او تعديل أو سحب هذه الشروط الإضافية. ستعمل متجري على نشر هذه الشروط الإضافية و أي تعديلات عليها على الموقع.</p>
                <br>
                <p style="padding-right:20px"> 1- توصيل البضائع الخاضعة للخصومات: يتوجب على البائعين المشاركين في الجمعة البيضاء توصيل البضائع المطلوبة من أي مشتري الى أقرب موقع شحن كيو إكسبرس أو أرامكس أو الى موقع أي شريك شحن آخر. يجب أن تتم عملية التوصيل   لجميع البضائع المشمولة بالعرض خلال 48 ساعة من وقت إتمام الطلبية على الموقع من المشتري. </p>
                <br>
                <p style="padding-right:20px">2-	ضمان الجودة و الثقة: تشترط الأحكام على البائع ضمان بضائع أصلية وجديدة وخالية من أي خلل. ستعمل متجري على اتخاذ الإجراءات القانونية اللازمة و/أو الإجراءات القضائية ضد أي بائع تم اكتشاف بيعه أو توصيله للمشترين بضائع مزيفة أو مستعملة أو مجددة أو ناقصة أو غير أصلية أو غير مرخصة و مضللة. يحق لمتجري اجراء اختبارات و فحص لعينات من بضائع البائع الخاضعة للخصومات بمساعدة من خبراء أو السلطات المختصة خلال هذه الفترة. على البائع ضمان تجريد متجري وموظفيها و وكلائها و المشترين على الموقع من أي اتهامات و ضياع لأي شيء في حال اكتشاف قيام البائع بخرق التعهد.  <br><br>بموجب هذه الشروط الإضافية، سيتم تغريم البائع لصالح متجري أو المشتري غرامة مالية أقصاها 50،000 $ (خمسون ألف دولار أمريكي) أو خسائر تراكمية مباشرة لمتجري و المشتري. </p><br>
                <p style="padding-right:20px">3-	في حال وجود أي تناقض بين هذه الشروط الاضافية و الشروط، فسوف يتم العمل بهذه الشروط الاضافية. </p>
                <p style="margin-bottom:15px" class="align-l"><a name="32"></a><strong style="color:#1fc0a0">(32)  شروط  الكفالة واحكامها</strong> </p>
                <p class="align-l">
                    لا تكون الكفالة سارية المفعول إلا في حالة وجود الرقم التسلسلي للسلعة. تحتفظ متجري بحق إلغاء الكفالة في حال تًبيُن قيام المشتري بتعديل أو إزالة الرقم التسلسلي للسلعة بعد شرائها.
                    <br><br>
                    عند سريان مفعول الكفالة، فإن واجبات وإلتزامات متجري تتلخص بتصليح أو إستبدال الجزء المتضرر من السلعة، تعويض المشتري بجزء/ أو بالمبلغ الكلي الذي قام المشتري بدفعه ثمناً للسلعة ويكون التعويض بحسب سعر السلعة في المتجري.
                    <br><br>
                    الصيانة المشمولة بالكفالة لا بد من أن تتم بداخل مركز الصيانة المعتمد من قِبل متجري، أما محاولة صيانة السلعة خارج هذا المركز فتُلغي الكفالة بالكامل ولاتكون متجري مسؤولة بأي شكل عن تعويض المشتري عن السلعة المتضررة جراء هذه الصيانة، كما ولا تكون مسؤولة بأي شكل ايضاً عن أية دعاوي أو أضرار قد تنشأ من الصيانة خارج مراكز الصيانة المعتمدة من قِبلها. الكفالة لا بد من أن تتم في مركز الصيانة المعتمد لدى متجري. تعتبر الكفالة لاغية في حال محاولة أي نوع من الصيانة تتم خارج المركز المعتمد، ولا تكون متجري مسؤولة عن أية أضرار، تعويضات أو دعاوى تنتج عن صيانة السلعة خارج المركز المتعمد للصيانة.
                    <br><br>
                    إن صيانة أو حتى إستبدال السلع التي تتم وفقاً لشروط واحكام الكفالة لا ولن تعتبر أو تؤدي إلى تجديد مدة الكفالة  لاتعتبر الصيانة أو الإستبدال بأي صورة تجديداً لمدة الكفالة التي تم منحها للمشتري مع السلعة.
                    <br><br>
                    لا تغطي كفالة متجري أياً من الحالات التي يتبين فيها أن ضرر السلعة هو خطأ في التصميم، الخامة أو أية عيوب مصنعية أخرى.

                    <br><br>
                    <strong style="color:#1fc0a0">يستثنى من الكفالة كل مما يلي:</strong>
                    <br><br>
                    الفحص الدوري، الصيانة العامة، التصليح وإستبدال أجزاء السلعة التي تتعطل نتيجة الإستخدام الطبيعي للسلعة، بالإضافة إلى الأجزاء الإستهلاكية الأخرى كالبطاريات، الكوابل وسماعات الرأس والأضواء وغيرها من أجزاء السلعة التي يتم إستهلاكها بشكل طبيعي.
                    <br><br>
                    الإستخدام الخاطئ الذي يشمل - على سبيل المثال لا الحصر- الأعطال التي تنشأ عن عدم معرفة المشتري بالطريقة الصحيحة لعمل السلعة، أو محاولة تشغيلها بما يتعارض مع سياسة متجري أو الجهة المصنعة، بالإضافة إلى الأعطال الناتجة عن إستخدام أية ملحقات غير معتمدة ليتم إستخدامها مع السلعة.
                    <br><br>
                    أي عطل ينشأ نتيجة خطأ في التركيب أو التثبيت ينتج عنه خرق للتعليمات الواردة في دليل المستخدم أو تلك التي منحتها متجري للمشتري عند شرائه للسلعة.
                    <br><br>
                    كل الأعطال الناتجة عن الحوادث المختلفة مثل الصواعق، القضاء والقدر، الفياضانات والإضطرابات المدنية أو غيرها من الأسباب التي تكون خارجة عن إرادة متجري ولا يمكن التحكم فيها.
                    <br><br>
                    الأعطال التي تنتج عن تعديلات على السلعة لتتناسب مع المعايير الدولية أو المحلية في كل المناطق التي تباع فيها سلع لم تكن مصممة في الأصل لتعمل فيها.
                    <br><br>
                    أعطال البطاريات الناتجة عن الشحن المفرط أو أية أسباب أخرى تم فيها خرق التعليمات العامة للإستخدام والموجودة في دليل المستخدم، بالإضافة إلى قيام المشتري بمسح، إزالة أو التعديل على الرقم التسلسلي للسلعة أو في حال كان الرقم التسلسلي للسلعة لا يمكن قراءته.
                    <br><br>
                    أعطال البطارية التي تنشأ عن إستخدام شواحن غير متوافقة مع السلعة أو التي لم يتم إعتمادها للعمل مع السلعة من قِبل الجهة المصنعة للسلعة، أو في حال تبين وجود كسر أو عبث بأجزاء من البطارية.
                    <br><br>
                    هذه الكفالة غير قابلة للنقل من شخص لآخر، كما أنها ستكون الوسيلة الوحيدة التي يمكن للمشتري من خلالها الإستفادة من خدمات متجري أو مراكز الصيانة المعتمدة لديها والموجودة في وثيقة الكفالة والتي ستكون مسؤولة عن أي خرق صريح أو ضمني لأي من بنود هذه الكفالة.
                    <br><br>
                    المسؤولية القانونية:
                    لا تكون متجري مسؤولة بأي شكل من الأشكال عن أي ضياع للمعلومات التي قد تكون مخزنة/ محفوظة على أي من السلع التي تتم صيانها أو إستبدالها.
                    <br>
                </p>
                <p style="margin-bottom:15px" class="align-l"><a name="33"></a><strong style="color:#1fc0a0">(33)  شروط  تمديد الكفالة واحكامها</strong> </p>
                <p class="align-l">
                </p><p>
                    التغطية الميكانيكية أو الكهربائية:
                    <br>
                    بموجب الضمان، نتكفل بالكامل بإصلاح السلع خلال مدة الضمان، وفي حال عدم القدرة على الإصلاح لأسباب تقنية أو إقتصادية، نلتزم بإعادة المبالغ المالية كاملة أو تسديد تكاليف استبدال السلعة.
                </p>
                <p>
                    الأضرار الميكانيكية أو الكهربائية التي تستثنى من الضمان:
                    <br>
                    - الأضرار الميكانيكية أو الكهربائية الناجمة عن خلل في التصنيع أدى إلى سحب الشركة المصنعة للسلعة.
                    <br>
                    - وجود ضمان ساري المفعول من الشركة المصنعة.
                    <br>
                    - الأضرار الخارجية أو التدهور التدريجي للأداء السلعة.
                </p>
                <p>
                    ماهي الأضرار الخارجية التي يغطيها الضمان (الصدمات/ السوائل والرطوبة/ الشاشة المتصدعة):
                    <br>
                    يغطي الضمان الضرر الناجم عن أسباب خارجية مثل السوائل والرطوبة والظروف الجوية الطبيعية وغيرها من الأسباب الخارجية، ونتكفل بالكامل بإصلاح السلع خلال مدة الضمان، وفي حال عدم القدرة على الإصلاح لأسباب تقنية أو إقتصادية، نلتزم بإعادة المبالغ المالية كاملة أو تسديد تكاليف استبدال السلعة.
                </p>
                <p>
                    لا يكون الضمان ساري المفعول في حالة الأضرار الناجمة عن:
                    <br>
                    - إستخدام اكسسوارات غير متوافقة مع السلعة.
                    <br>
                    - عدم اتباع تعليمات الجهة المصنعة.
                    <br>
                    - تطبيق أي من الخدمات الروتينية مثل الصيانة، أو تفكيك أو تنظيف.
                    <br>
                    - إستخدام السلعة من قبل شخص آخر غير المالك أو أحد أفراد عائلته.
                </p>
                <p>
                    الحد الأقصى للمبلغ المدفوع للإصلاح أو إعادة المبالغ المالية يقع ضمن نطاق سعر شراء السلعة و

                    في حالة إعادة المبالغ المالية،تنخفض القيمة المالية مع مدة استهلاك السلعة
                </p>
                <p>
                    تنخفض القيمة المالية على النحو التالي:
                    <br>
                    0- 12 شهرا - 0٪ (100٪ من قيمة المنتج واجبة الدفع)
                    <br>
                    12 شهرا و 1 يوم - 24 شهرا - 30٪ (70٪ من قيمة المنتج واجبة الدفع)
                </p>

            </div>
        </div>
    </div>
    <!-- Advertisement Area / Dont Print this block if there is no Ads here -->
    <div class="row ad hide">
        <div class="show-for-medium-up small-12 columns ads-box">
            <!-- Spring_SubCatPage_Leader_728x90 -->
            <div id="div-gpt-ad-1421766553421-0" style="">
            </div>
        </div>
    </div>
    <!-- /Advertisement Area -->
</div>
