
<div class="container">
    <div class="row">
        <div class="faq-page">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>الأسئلة الأكثر شيوعاً</h2>

                    <p></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="panel-group accordion-faq" id="faq-accordion" style="text-align:right">

                    <div class="panel">
                        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="http://htmlmystore.justthemevalley.com/rtl-version/faq.html#question1" aria-expanded="false" class="collapsed"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span>ماهو متجر رومازونيا ؟ </a> </div>
                        <div id="question1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                رومازونيا هي منصة سعودية تهدف إلى توصيل أحدث المنتجات التقنية إلى السوق السعودي بأفضل سعر وأعلى جودة ممكنة
                            </div>
                        </div>
                    </div>
                    @*<div class="panel">
                        <div style="text-align:right" class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="http://htmlmystore.justthemevalley.com/rtl-version/faq.html#question3" class="collapsed" aria-expanded="false"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span> كم عدد الزوار الذين يقومون بزيارة متجري يومياً؟</a> </div>
                        <div id="question3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body"> يقوم ملايين العملاء بزيارة موقع متجري يومياً. </div>
                        </div>
                    </div>*@
                    @*<div class="panel">
                        <div style="text-align:right" class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="http://htmlmystore.justthemevalley.com/rtl-version/faq.html#question2" class="collapsed" aria-expanded="false"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span> هل يشتري الزبائن السلع المنخفضة السعر على سوق.كوم؟</a> </div>
                        <div id="question2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">نعم؛ فالزبائن يحبون السلع القيمة ذات السعر المنخفض، وقد تم بيع أرقام كبيرة من هذه السلع على سوق.كوم. </div>
                        </div>
                    </div>*@
                    <div class="panel">
                        <div style="text-align:right" class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="http://htmlmystore.justthemevalley.com/rtl-version/faq.html#question5" class="collapsed" aria-expanded="false"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span> كيف يمكنني التسجيل؟</a> </div>
                        <div id="question5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">انقر على رابط تسجيل الدخول في الاعلى وأبدأ بملئ المعلومات </div>
                        </div>
                        
                    </div>

                    <div class="panel">
                        <div style="text-align:right" class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="http://htmlmystore.justthemevalley.com/rtl-version/faq.html#question4" class="collapsed" aria-expanded="false"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span>كم هي تكلفة الشحن؟ </a> </div>
                        <div id="question4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">يمتاز متجر رومازونيا بسعر موحد للشحن 35 ريال إلى جميع مناطق المملكة عن طريق شركة سمسافيديكس إكسبريس ، عادة تصل الشحنات خلال 24-48 ساعة بحد أقصى. </div>
                        </div>
                    </div>
                    @*<div class="panel">
                        <div style="text-align:right" class="panel-heading"> <a data-toggle="collapse" data-parent="#faq-accordion" href="http://htmlmystore.justthemevalley.com/rtl-version/faq.html#question6" class="collapsed" aria-expanded="false"> <span class="arrow-down"><i class="fa fa-angle-down"></i></span> <span class="arrow-up"><i class="fa fa-angle-up"></i></span> ماذا لو لم يأتي ساعي الشحن لاستلام السلعة؟ </a> </div>
                        <div id="question6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">في حالة عدم وصول ساعي الشحن لاستلام السلع من المكان المتفق عليه، حاول توصيل السلعة إلى أقرب مركز شحن أو اتصل على مركز خدمة العملاء لتوفير ساعي شحن آخر.</div>
                        </div>
                    </div>*@
                </div>
            </div>

            <div class="col-sm-3 col-xs-12">

                <div class="content-box color-effect-1">
                    <h3>One More Question?</h3>
                    <div class="box-icon-wrap box-icon-effect-1 box-icon-effect-1a">
                        <div class="box-icon"><i class="fa fa-question"></i></div>
                    </div>
                    <p>If you have more questions, send us a message and we will answer you as soon as possible.</p>
                </div>

                <div><img src="~/Assets/images/faq-banner.png" alt="faq banner"></div>
            </div>
        </div>
        </div>
    </div>

