<style>
    .Header {
        color: #1fc0a0;
      //  font-size:large

    }
</style>
 <div class="main-container col1-layout">
        <div class=" container">
            <div style="padding:10px">
                <h3></h3><div class="row">
                    <div> <a href="#">متجر رومازونيا </a> » خصوصية متجر رومازونيا</div>
                    <div>
                        <h3>خصوصية متجر رومازونيا</h3>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header">مقدمة</strong> </div>
                    <div class="">
                        <ol>
                            <li> تعنى (إتفاقية سرية المعلومات) لدينا بطريقة جمعنا للبيانات و طريقة حماية المعلومات الشخصية للمستخدمين، وهي بغاية الأهمية للإطلاع و مراجعة تفاصيل هذه الإتفاقية  </li>
                            <li> نحن لا يعنينا أي معلومات شخصية لشخص محدد بعينه ، و إنما يتم جمع المعلومات الشخصية من الراغبين بإستخدام موقع متجر رومازونيا  او صفحات الانترنت المرتبطة (بما في ذلك وغير مقتصر على بيعك وشرائك لبضائع ,او عن مشاركتك في مزادات,او حين تتصل هاتفيا او بواسطة البريد الالكتروني بفريق مركز دعم المستخدمين لدينا). و بمجرد تزويدك لنا بمعلوماتك الشخصية تكون قد فوضتنا بمعالجة هذه المعلومات وفق بنود وشروط (إتفاقية سرية المعلومات) . </li>
                            <li>قد نلجأ الى تعديل في (إتفاقية سرية المعلومات) في اي وقت, وذلك بعد الإعلان عن هذا التعديل بنشر النسخة المعدلة على الموقع. وتكون النسخة المعدلة من (إتفاقية سرية المعلومات) سارية المفعول اعتبارا من تاريخ نشرها. في اعقاب النشر يعتبر استمرارك في استخدام الموقع إلتزاما منك بالشروط والبنود الواردة في النسخة المعدلة لطريقة معالجتنا وتعاملنا مع معلوماتك الشخصية التي كنت قد زودتنا بها. علما بأن اخر تعديل اجريناه على (إتفاقية سرية المعلومات) كان في 4 نوفمبر 2009، ونأمل منكم الإطلاع من حين لأخر على إعلانات إدارة متجر رومازونيا و التي قد يكون لها علاقة بهذا الإتفاقية (إتفاقية سرية المعلومات) . </li>
                            <li>خر تعديل اجريناه على (إتفاقية سرية المعلومات) كان في 4 نوفمبر 2009، ونأمل منكم الإطلاع من حين لأخر على إعلانات إدارة متجر رومازونيا و التي قد يكون لها علاقة بهذا الإتفاقية (إتفاقية سرية المعلومات) . </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> يغطي (إتفاقية سرية المعلومات) الأنشطة التالية والتي يرد تفصل لها في البنود إدناه :</strong> </div>
                    <div class="">
                        <ol>
                            <li>جمعنا وإحتفاظنا بمعلوماتك الشخصية التي تعاملت بها أو زودتنا بها أو قمت بعرضها أو تعديلها </li>
                            <li> إستخدامنا لمعلوماتك الشخصية ومراجعتها وتعديلها حسب الحاجة</li>
                            <li> استخدامك لمعلوماتك الشخصية ومعلومات المستخدمين الاخرين </li>
                            <li>إستخدام، دخول، تصفح، وتعديل معلوماتك الشخصية</li>
                            <li> ادوات الاتصال مع اطراف ثالثة عبر الانترنت </li>
                            <li>برمجيات التصفح المستخدمة على جهازك الشخصي </li>
                            <li> لا لرسائل الكترونية مضللة او مخادعة </li>
                            <li>حماية معلوماتك الشخصية </li>
                            <li>كيف لك الاتصال بنا للاستفسار عن (إتفاقية سرية المعلومات)</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> جمعنا وإحتفاظنا بمعلوماتك الشخصية التي تعاملت بها أو زودتنا بها أو قمت بعرضها أو تعديلها</strong> </div>
                    <div class="">
                        <ol>
                            <li> كجزء من التسجيل على الموقع سوف يطب منك تزويدنا بمعلومات شخصية محددة,مثل اسمك, عنوان الشحن اليك, بريدك الالكتروني و/أو رقم هاتفك ومعلومات مشابهة اخرى, وبعض المعلومات الاضافية عنك مثل تاريخ ميلادك أو اي معلومات محددة لهويتك. إضافة إلى ذلك وبهدف توثيقنا لهويتك قد نحتاج منك ان تقدم لنا اثبات ساري المفعول يثبت هويتك (مثلا نسخة عن جواز سفرك, تاشيرة او تصريح الاقامة, الهوية الوطنية و/ أو رخصة القيادة). </li>
                            <li>قد نحتاج ايضا جمع معلومات مالية محددة منك, مثلا بطاقتك الائتمانيةو/أو تفاصيل حسابك المصرفي حتى يتم إضافتها إلى معلومات حسابك في الموقع، و ستسخدم هذه المعلومات المالية لاهداف الفوترة ولإتمام عملياتك في الموقع . </li>
                            <li>
                                بعد تسجيلك في الموقع, ينبغى عليك عدم نشر اي معلومات شخصية (بما في ذلك اي معلومات مالية) على اي جزء من الموقع, باستثناء جزء" إدارة الحساب" وهذا من شأنه حمايتك من امكانية تعرضك للاحتيال او سرقة معلومات هويتك. كما ان نشرك لأي من معلوماتك الشخصية على اي جزء من الموقع باستثناء"حسابي" قد يعتبر مخالفة لهذه الإتفاقية قد يتسبب بأخذ إجراء بحق عضويتك بالموقع . <br>
                            </li>
                            <li>سوف يتم تسجيل معلومات عملياتك و إنشطتك في الموقع سواء كانت عملية شراء أو بيع أو عرض سلع، أو سحب مبالغ أو إيداع مبالغ أو غيرها من الأنشطة الخاصة بعملياتك في الموقع </li>
                            <li> الرجاء ملاحظة اننا قد نستخدم عنوان برتوكول الانترنت خاصتك او (IP) (وهو عبارة عن رقم مميز يعطى لمقدم خدمة الانترنت لك او (ISP) بهدف تحليل انماط نشاطاتك التي تمارسها على الموقع, وبالتالي تحسين ادارتك على الموقع. وقد نجمع ايضا معلوماتك عن تفاصيل عمليات التصفح </li>
                            <li>قد نجمع معلومات اضافية منك او عنك بطرق اخرى لم يتم هنا ذكر تفاصيلها, مثل تسجيل المكالمات الهاتفية مع موظفي مركز العناية بالمستخدمين او من خلال اجاباتك على استبياناتنا .وقد نجمع نجمع معلومات لاهداف احصائية حينها تبقى اسماء اصحاب المعلومات مجهولة.</li>


                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> استخدامنا لمعلوماتك الشخصية</strong> </div>
                    <div class="">
                        <ol>
                            <li>نستخدم معلوماتك الشخصية فقط لتقديم خدمات ودعم من فريق الزبائن, ويهدف قياس مستوى خدماتنا وتحسينها لك, ومنع النشاطات غير القانونية, وتنفيذ بنود اتفاقيتنا معك، اضافة الى تذليل العوائق, وجمع الرسوم, وتزويدك برسائل الكترونية ترويجية, وكذلك من اجل توثيق المعلومات التي زودتنا بها مع اطراف ثالثة , مثلا قد نلجأ الى الاشتراك في بعض من معلوماتك الشخصية مع البنوك او التفويض لبطاقات الائتمان لمعالجةوتوثيق خدمات مع اطراف ثالثة لاهداف تتعلق بزيادة مستوى الأمن . </li>
                            <li>برغم حرصنا للمحافظة على سرّيتك ,الا اننا قد نحتاج الى الافصاح عن معلوماتك الشخصية لاجهزة تنفيذ القانون, الهيئات الحكومية او اطراف ثالثة نكون ملزمين بفعل ذلك باوامر من المحكمة اوغيرها من الدوائر القانونية, لنكون ملتزمين ببنود القانون, عند اعتقادنا ان الافصاح عن معلوماتك الشخصية ربما يقي من أذى جسدي او خسارة مالية, او للاخبار عن نشاط مشبوه او للتحقيق في امكانية انتهاك لبنود وشروط اتفاقية المستخدم. </li>
                            <li>في حال تم بيع متجر رومازونيا  اف زد- ال ال سي, او اي من مؤسساته الفرعية او اصوله التجارية قد نفصح عن معلوماتك الشخصية للمشتري المحتمل, وذلك بهدف استمرار نشاط الموقع. </li>
                            <li> قد نشارك معلوماتك الشخصية مع اعضاء في مواقع اخرى, كجزء من مزاد أو صفقة شراء على الموقع ضمن "اشتري الان",مثلا في نهاية تنفيذ مزاد ناجح على الموقع,نقوم بتزويد البائع والمشتري الفائز بمعلومات تخص كل طرف عن الطرف الاخر للمساهمة بإتمام العملية بنجاح ما بين الطرفين,وهذه المعلومات الشخصية هي ما زودتنا بها عند التسجيل على الموقع, لذا يفترض تحديثها دوما. </li>
                            <li> اضافة الى ذلك فان المعلومات المتعلقة بالبضائع التي تقوم بشرائها او بيعها,او المزادات التي تشارك فيها على الموقع, هذه المعلومات قد تتضمن تفاصيل بخصوص هوية المستخدم, التغذية المسترجعة والملاحظات المتعلقة باستخدامك للموقع. غير ذلك فاننا سوف نكشف عن معلوماتك الشخصية لطرف ثالث بعد أخذ اذن واضح منك. </li>
                            <li> نحن لا نبيع ولا نؤجر لطرف ثالث اي من معلوماتك الشخصية ضمن نطاق عملنا التجاري العادي, وسوف نشرك اخرين في معلوماتك الشخصية فقط وفق ما جاء في (إتفاقية سرية المعلومات) هذا. </li>
                            <li>بمجرد تسجيلك في الموقع تعتبر أنك أعطيتنا تفويضا واضحا لتسليمك رسائل إلكترونية ترويجية حول خدماتنا, إضافة الى رسائل إلكترونية بخصوص التغيرات,والملامح الجديدة على الموقع , فلو انك في اي وقت قررت بعدم رغبتك في تلقي مثل هذه الرسائل,ماعليك سوى إختيار الرابط الخاص بإيقاف إرسال هذه الرسائل إلى عنوانك البريدي والمتوفر في اسفل اي من هذه الرسائل الاكترونية او الذهاب الى جزء "حسابي" على الموقع.</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header">استخدامك لمعلوماتك الشخصية ومعلومات المستخدمين الاخرين</strong> </div>
                    <div class="">
                        <ol>
                            <li> قد يكون الاعضاء في حاجة للمشاركة في المعلومات الشخصية (بما في ذلك المعلومات المالية) مع بعضهم البعض,بهدف استكمال عمليات على الموقع. عليك ان تحترم في جميع الاوقات سرية الاعضاء الاخرين في الموقع. </li>
                            <li>نحن لا نضمن سرية معلوماتك حين تشارك بها اعضاء اخرين,لذا عليك طلب معلومات حول مستوى السرية وعقود الأمان من اي اعضاء اخرين على الموقع قبل مباشرتك و تزويدهم بأي بيانات أو معلومات مالية أو شخصية، وبإمكانك الرجوع لموظفي مركز خدمة العملاء للتأكد من صلاحية المطلوب و أمانه. </li>
                            <li>عقد السرية هذا لا يغطي كشفك لمعلوماتك الشخصية لعضو في موقع اخر. انت موافق على استخدام اي معلومات شخصية تتلقاها من عضو في موقع اخر بغرض اتمام عملية على موقعنا, فقط لهذه العملية,وانك لن تستخدم المعلومات المتلقاة من عضو في موقع اخر لاي اهداف اخرى(باستثناء تفويض واضح من العضو في الموقع الاخر) </li>
                            <li>انت تعلم وموافق انك سوف لن تستخدم المعلومات الشخصية التي وردتك من الموقع عن أي عضو في موقع اخر وفق القوانين المعمول بها في هذه الوثيقة. </li>
                            <li>نت على علم و موافق بأنه عليك إستخدام المعلومات الشخصية التي وردتك من المستخدمين ضمن هذا الإتفاقية</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> إستخدام، دخول، تصفح، وتعديل معلوماتك الشخصية</strong> </div>
                    <div class="">
                        <ol>
                            <li> باستطاعتك الوصول ومراجعة معلوماتك الشخصية من خلال صفحة إدارة "حسابي"على الموقع, فاذا ما تغيرت معلوماتك الشخصية باي طريقة,او انك اعطيت معلومات غير صحيحة على الموقع,عليك تحديثها او تصحيحها حالا,اما من خلال عرضها على "حسابي" او من خلال الاتصال بفريق خدمة العملاء. </li>
                            <li>يرجى العلم أننا سوف نحتفظ بمعلوماتك الشخصية خلال وبعد انتهائك من استخدام الموقع بحسب ما هو مطلوب قانونا,وذلك بهدف التغلب على العوائق التقنية ,ولمنع الاحتيال,وللمساعدة في اي تحقيق قانوني ولاتخاذ اي اجراءات اخرى ينص عليها القانون.</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> الروابط مع مواقع الكترونية لاطراف ثالثة</strong> </div>
                    <div class="" style="padding-bottom:10px">
                        <ol>
                            <li> قد يحتوي الموقع على روابط مع مواقع الكترونية اخرى, الرجاء العلم اننا غير مسؤولين عن مستوى الأمان أو الطرق المتبعة في المواقع الاخرى. </li>
                            <li>نحن نشجعك حين تنتقل من موقعنا الى أي موقع أخر بان تبادر بقراءة بيانات (إتفاقية سرية المعلومات) الخاصة بهم إذا كان في نيتك اعطائهم معلوماتك الشخصية . </li>
                            <li> ان (إتفاقية سرية المعلومات) عندنا يطبق فقط على معلوماتك الشخصية اتي جمعناها على موقعنا.</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> برمجيات التصفح المستخدمة على جهازك الشخصي</strong> </div>
                    <div class="">
                        <ol>
                            <li> مثل العديد من مواقع الانترنت فان موقعنا يستخدم ملفات برمجية صغيرة يتم تثبيتها على لجزء الصلب من حاسوبك, فحين تذهب لزيارة صفحات انترنت معينة على المواقع, تتعرف السجل على المتصفح browser من خلال رقم فريد وعشوائي. </li>
                            <li> كما ان السجلات" الكوكيز" التي نستخدمها لا تكشف اي من معلوماتك الشخصية.هذه السجلات تساعدنا في تحسين ادائك على الموقع وتعيننا على تفهم اي اجزاء من الموقع هي الاكثر استخداما,انت لك مطلق الحرية في الغاء هذه السجلات اذا أتيح لك ذلك من المتصفح,مع ان ذلك قد يفضي الى وقفك من استخدام الموقع.</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> لا للرسائل الالكترونية التدميرية أو المخادعة</strong> </div>
                    <div class="" style="padding-bottom:10px"> نحن لا نتسامح مع الرسائل التدميرية,من اجل اخبار الموقع عن اي رسائل الكترونية تدميرية او مخادعة, الرجاء ارسال رسالة الكترونية الى  ,فان الاتصال لارسال رسائل الكترونية تلحق الضرر بنا او اي محتويات سيؤدي الى نقض بنود اتفاقية المستخدم. فنحن نفحص الرسائل اوتوماتيكيا, وقد نلجأ الى الفلترة اليدوية لها لمعرفة ما اذا هناك رسائل تدميرية او فيروسات او هجمات ضارة واي نشاطات ماكرة اخرى او غير قانونية.</div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> حماية معلوماتك الشخصية</strong> </div>
                    <div class="">
                        <ol>
                            <li> نحن نحتفظ بمعلوماتك (إتفاقية سرية المعلومات) في ملفات الكترونية في المملكة المتحدة و الولايات المتحدة,فانت حين تزودنا بمعلوماتك الشخصية,تكون قد منحتنا المسؤولية للاحتفاظ بهذه المعلومات في بريطانيا او الولايات المتحدة, ونحن نتخذ كل الاحتياطات للمحافظة على معلوماتك (إتفاقية سرية المعلومات) , وذلك بعدم الوصول اليها من اطراف غير مسؤولة ,او استخدامها او الكشف عنها. </li>
                            <li>على اي حال فان الانترنت وسيلة غير امنة ونحن لا نضمن سرية معلوماتك الشخصية,وعليك ان تدخل اسم المستخدم وكلمة الدخول في كل مرة ترغب فيها بالدخول الى حسابك او اتمام صفقات على الموقع,اختر كلمة الدخول بدقه بالستخدام ارقام مميزة وحروف بمواصفات خاصة. لا تفصح عن اسم المستخدم وكلمة الدخول لاي احد,فاذا ما اعتقدت ان اسم المستخدم او كلمة الدخول قد تم كشفها, بادر بالاتصال فورا بفريق الدعم في الموقع لتغييرها.</li>

                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class=""> <strong class="Header"> كيف تتصل بنا للاستفسار بخصوص (إتفاقية سرية المعلومات)</strong> </div>
                    <div class="">اذا كان لديك اسئلة او اهتمامات حول جمعنا واستخدامنا لمعلوماتك الشخصية ,الرجاء الاتصال على فريق مركز العناية بالمستخدمين أو مراسلتنا على العنوان البريدي الخاص بمركز خدمة العملاء ببلدك</div>
                </div><h3 class="slider-header"></h3>متجر رومازونيا،     
            </div>
        </div>

</div>
  
