@using EShop.Common

@{
    ViewBag.Title = "_ManageSidebar";
}

    <aside class="right sidebar  col-sm-3 col-xs-12">
        <div class="sidebar-account block">
            <div class="sidebar-bar-title">
                <h3>My Account</h3>
            </div>
            <div class="block-content">
                <ul>
                    <li>@Ajax.ActionLink("معلومات الحساب", "Index", "Manage", new AjaxOptions { UpdateTargetId = "ParentDiv" })</li>
                    <li>@Ajax.ActionLink("تعديل كلمة المرور", "ChangePassword2", "Manage", new AjaxOptions { UpdateTargetId = "ParentDiv" })</li>
                </ul>
            </div>
        </div>
    </aside>


@section Scripts
{
<script>
    $(document).ready(function () {
        var pathname = (location.pathname + location.search);

        $('a').each(function () {
            if ($(this).attr('href') == pathname) {
                $(this).css('font-weight', 'bold').attr('href', '#');

            }
        });
    });
</script>
}
