
<div class="container">
    <div class="row">
        <div class="faq-page">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>رومازونيا</h2>

                    <p>
                        هي إحدى أقسام مؤسسة العطاء الرقمي لتقنية المعلومات يشرف عليها طاقم من المهندسين والإداريين ذوي الكفاءة العالية
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12">
                <h4>لماذا رومازونيا ؟ </h4>
                <p>مؤسسة معتمدة لها خبرة عميقة في مجال التجارة الإلكترونية ذات أسلوب راقي في التعامل مع العملاء بكافة اللغات ، تهدف لإيصال كافة المنتجات من متاجر دول العالم إلى العميل بأفضل الأسعار</p>
            </div>
        </div>
    </div>
</div>

