@model EShop.WEB.Models.SampleViewModel

@{
    ViewBag.Title = "DisplaySample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplaySample</h2>

<div>
    <h4>SampleViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
