
<div class="container">
    <div class="row">
        <div class="faq-page">
            <div class="col-xs-12">
                <div class="page-title">
                    <h2>سياسة الإعادة</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12">
                
                <h4>يأمل موقع رومازونيا ان تكون دائما سعيد بطلبك</h4> .
                <p>
                    سياستنا لإعادة البضاعة صالحة إذا كنت غير راض تماما بأي منتج وذلك بسبب<br />
                    <ul>
                        <li>
                            وجود عيوب في التصميم و المواد والمصنعية
                        </li>
                        <li>
                            نوعية غير مرضية أو تصلح للأغراض التي يقصد بها
                        </li>
                        <li>
                            إنتهاء تاريخ صلاحية المنتجات، عند تسليم البضاعة
                        </li>
                    </ul>


                    ونحن سعداء لترجيع المنتج، تبديل  أو إستبدال جميع السلع المعادة إلينا في غضون سبعة أيام من استلامك للبضائع بشرط  أن تكون في حالتها الأصلية ، غير مفتوحة وغير مستخدمة.
                </p>
                <p>
                    السلع المخفضة السعر والتي يتم شراؤها عبر الإنترنت لا يمكن أن تعاد أو تبدل. يرجى إتباع الأربع خطوات المبينة أدناه في حال أردت ان ترجع البضائع الخاصة بك إلى رومازونيا :

                </p>
                <h5>الخطوة 1.</h5>
                <p>
                    يرجى الإتصال بفريق خدمة العملاء عبر الإيميل support@romazonia.com أو عبر رقم الواتس أب الظاهر في الموقع لإخبارهم أنك ترغب في ترجيع أي منتج. سوف تحتاج إلى توفير تفاصيل كاملة عن رقم طلبك كعميل ، والتي يتم توفيرها في الوثائق التي تصل مع طلبك، جنبا إلى جنب مع تفاصيل عن القطع التي ترغب في ترجيعها .
                </p>
                <h5>الخطوة 2.</h5>
                <p>عندما يصلك التأكيد أننا سوف نقبل ترجيع المنتج الخاص بك ، من فضلك تأكد من أن ذكرت ما إذا كنت ترغب في الحصول على المبلغ ، إستبدال أو تبديل . يرجى التذكر أنه لكي تتم  إجراءات الترجيع عليك التأكد من أن حزمة الترجيع والبضائع ملفوفة بشكل آمن في نفس التغليف الخارجي الذي وصلك  فيه.
</p>
                <h5>الخطوة 3.</h5>
                <p>وسيتم فحص جميع البضائع المعادة عند وصولها . سيتم إبلاغك فورا إذا كنا غير قادرين على ترجيع المال، إستبدال أو تبديل المنتج، إذا تم فتح المنتج الخاص بك أو تم إستخدامه. سوف نقوم بإجارءات الترجيع في أسرع وقت ممكن، و سوف نعلمك عن طريق البريد الإلكتروني عندما يتم تجهيز المبلغ الخاص بك، أو الإستبدال أو التبديل . خلال الأوقات التي يكون فيها ضغط، عملية الإنتظارممكن أن تأخذ 30 يوم عمل لكي يتم ترجيع المبلغ، الإستبدال أوالتبديل. المبلغ الذي كنت قد دفعته ثمن البضائع سوف يتم ترجيعه من قبل رومازونيا  في أقرب وقت ممكن في نفس طريقة الدفع الأصلية ، في فترة لا تتجاوز 30 يوم عمل من تلقينا للبضائع . يرجى الإنتباه أنه سيتم دفع رسوم التسليم من قبل رومازونيا .</p>
                <h4>سياسة الإلغاء</h4>
                <p>بالإضافة إلى سياسة الترجيع،  لديك الحق القانوني في إلغاء طلبك إذا كانت إجراءات طلبك لم تبدأ بعد ، فعند ذلك بإمكانك إلغاء طلبك عن طريق تسجيل الدخول إلى حسابي. أما إذا كانت إجراءات طلبك قد بدأت وأصبحت في مرحلة إرسال الطلب، عند ذلك تنطبق على طلبك  سياسة الترجيع المذكورة أعلاه. الرجاء مراجعة قسم حق الإلغاء في الشروط والأحكام .
</p>
            </div>
        </div>
    </div>
</div>

