@{
    ViewBag.Title = "معلومات العملية";
}
<section class="page-section">
    <div class="container">
        <h2 class="section-title"><span>@ViewBag.Title</span></h2>
        <p>@ViewBag.Message</p>
    </div>
</section>


