
@model List<EShop.BLL.DTO.ProductDTO>
<div class="related-product-area">
    <div class="page-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="related-products-pro">
        <div class="slider-items-products">
            <div id="related-product-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4">
                    @foreach (var product in Model)
                    {
                        Html.RenderPartial("_SingleProduct",product);
                    }
                    @*<div class="product-item">
                            <div class="item-inner">
                                <div class="product-thumbnail">
                                    <div class="icon-sale-label sale-left">البيع</div>
                                    <div class="btn-quickview"> <a href="quick_view.html"><span>نظرة سريعة</span></a></div>
                                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/img01.jpg" alt=""></a>
                                </div>
                                <div class="pro-box-info">
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html"> تنورة مع سترة صوفية رقيقة</a> </div>
                                            <div class="item-content">
                                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                <div class="item-price">
                                                    <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span> </span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-hover">
                                        <div class="product-item-actions">
                                            <div class="pro-actions">
                                                <button class="action add-to-cart" type="button" title="Add to Cart"> <span>أضف إلى السلة</span> </button>
                                            </div>
                                            <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"> <span>المفضلة</span> </a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"> <span>قارن</span> </a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="item-inner">
                                <div class="product-thumbnail">
                                    <div class="btn-quickview"> <a href="quick_view.html"><span>نظرة سريعة</span></a></div>
                                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/img02.jpg" alt=""></a>
                                </div>
                                <div class="pro-box-info">
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">ساعة ذهبية رائعة </a> </div>
                                            <div class="item-content">
                                                <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                <div class="item-price">
                                                    <div class="price-box"> <span class="regular-price"> <span class="price">$175.88</span> </span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-hover">
                                        <div class="product-item-actions">
                                            <div class="pro-actions">
                                                <button class="action add-to-cart" type="button" title="Add to Cart"> <span>أضف إلى السلة</span> </button>
                                            </div>
                                            <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"> <span>المفضلة</span> </a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"> <span>قارن</span> </a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="item-inner">
                                <div class="product-thumbnail">
                                    <div class="icon-new-label new-left">جديد</div>
                                    <div class="btn-quickview"> <a href="quick_view.html"><span>نظرة سريعة</span></a></div>
                                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/img03.jpg" alt=""></a>
                                </div>
                                <div class="pro-box-info">
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">قميص رجالي كاروهات </a> </div>
                                            <div class="item-content">
                                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                                <div class="item-price">
                                                    <div class="price-box">
                                                        <p class="special-price"> <span class="price-label">السعر المخصص</span> <span class="price"> $299.00 </span> </p>
                                                        <p class="old-price"> <span class="price-label">السعر الأصلي:</span> <span class="price"> $399.00 </span> </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-hover">
                                        <div class="product-item-actions">
                                            <div class="pro-actions">
                                                <button class="action add-to-cart" type="button" title="Add to Cart"> <span>أضف إلى السلة</span> </button>
                                            </div>
                                            <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"> <span>المفضلة</span> </a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"> <span>قارن</span> </a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="item-inner">
                                <div class="product-thumbnail">
                                    <div class="btn-quickview"> <a href="quick_view.html"><span>نظرة سريعة</span></a></div>
                                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/img04.jpg" alt=""></a>
                                </div>
                                <div class="pro-box-info">
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">حزام بني </a> </div>
                                            <div class="item-content">
                                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                <div class="item-price">
                                                    <div class="price-box"> <span class="regular-price"> <span class="price">$125.99</span> </span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-hover">
                                        <div class="product-item-actions">
                                            <div class="pro-actions">
                                                <button class="action add-to-cart" type="button" title="Add to Cart"> <span>أضف إلى السلة</span> </button>
                                            </div>
                                            <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"> <span>المفضلة</span> </a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"> <span>قارن</span> </a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <div class="item-inner">
                                <div class="product-thumbnail">
                                    <div class="btn-quickview"> <a href="quick_view.html"><span>نظرة سريعة</span></a></div>
                                    <a href="single_product.html" class="product-item-photo"> <img class="product-image-photo" src="images/products/img05.jpg" alt=""></a>
                                </div>
                                <div class="pro-box-info">
                                    <div class="item-info">
                                        <div class="info-inner">
                                            <div class="item-title"> <a title="Ipsums Dolors Untra" href="single_product.html">حقيبة بيضاء منقطة بالأسود </a> </div>
                                            <div class="item-content">
                                                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                                <div class="item-price">
                                                    <div class="price-box">
                                                        <p class="special-price"> <span class="price-label">السعر المخصص</span> <span class="price"> $188.80 </span> </p>
                                                        <p class="old-price"> <span class="price-label">السعر الأصلي:</span> <span class="price"> $299.00 </span> </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-hover">
                                        <div class="product-item-actions">
                                            <div class="pro-actions">
                                                <button class="action add-to-cart" type="button" title="Add to Cart"> <span>أضف إلى السلة</span> </button>
                                            </div>
                                            <div class="add-to-links" data-role="add-to-links"> <a href="wishlist.html" class="action add-to-wishlist" title="Add to Wishlist"> <span>المفضلة</span> </a> <a href="compare.html" class="action add-to-compare" title="Add to Compare"> <span>قارن</span> </a> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>